/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight500 : 600;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/
.mobileMenu {
    display: flex;
    align-items: flex-end;
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    padding: .8rem 0;
    background: #fff;
    box-shadow: 11px 11px 4px 12px rgba(0, 0, 0, 0.25);
    .menu {
        font-size: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        font-weight: 700;
        color: #B8B8B8;
        svg {
            margin-bottom: 4px;
            fill: #B8B8B8;
        }
        &:not(:last-child) {
            margin-right: .5rem;
        }
        text-decoration: none;
    }
    .menu.active {
        svg {
            fill: #A2A846;
        }
        color: #A2A846;
    }
}

@media screen and (min-width :375px) {
    .mobileMenu {
        .menu {
            font-size: 9px;
        }
    }
}
