/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../../../../dist/assets/font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/

.onScrolled {
    position: fixed;
    top: 0;
}
#mainHeader {
    background: $dashboard-background;
    .navbar {
        flex-wrap: nowrap;
        flex-direction: column;
        .container-fluid {
            .navbar-brand {
                display: flex;
                align-items: center;
                transition: .5s;
                img {
                    transition: .5s;
                }
                .brand-title {
                    color: $white-color;
                    h1 {
                        font-family: steelfish;
                    }
                }
            }
            .userControl {
                display: flex;
                align-items: center;
                transition: .5s;

                .notification {
                    .dropdown {
                        .btnNotification {
                            display: flex;
                            align-items: center;
                            border: none;
                            position: relative;
                            background: transparent;

                            .numberNotif {
                                position: absolute;
                                background: red;
                                font-weight: 500;
                                color: $white-color;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        
                        .dropdown-menu {
                            top: 30px;
                            padding: 1rem 0;
                            border: 0;
                            box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
                            li {
                                .dropdown-item {
                                    display: flex;
                                    align-items: center;
                                    .iconMassage {
                                        background: #f0f7ff;
                                        display: flex;
                                        align-items: center;
                                        padding: .5rem .5rem;
                                        border-radius: 6px;
                                        ion-icon {
                                            margin: 0;
                                            color: #7e97ae;
                                        }
                                    }
                                    .wrapperMessage {
                                        .messageName {
                                            h1 {
                                                font-weight: 600;
                                                font-family: 'Poppins', sans-serif;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                            }
                                        }
                                        .messageContent {
                                            p {
                                                font-family: 'Poppins', sans-serif;
                                                white-space: pre-wrap;
                                                color: #4a5157;
                                            }
                                        }
                                        
                                    }
                                    .messageTime {
                                        display: flex;
                                        justify-content: flex-end;
                                        span {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                ion-icon {
                    color: $white-color;
                }
                .profil {
                    margin: 0 .8rem;
                    .dropdown-toggle {
                        background: none;
                        border: none;
                        &::after {
                            display: none;
                        }
                        img {
                            max-width: 32px;
                            border-radius: 50%;
                        }
                    }
                    .dropdown-menu {
                        left: -110px;
                        top: 40px;
                        border-radius: 8px;
                        box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
                        .dropdown-item {
                            font-size: 12px;
                            font-weight: $font-weight500;
                        }
                    }
                }
                .moreIcon {
                    display: flex;
                    align-items: center;
                    ion-icon {
                        margin: 0;
                    }
                }
            }
        }
        .navbarBack {
            .backHome {
                width: 100%;
                display: flex;
                align-items: center;
                ion-icon {
                    font-size: 24px;
                    color: #fff;
                }
            }
            
            .userControl {
                justify-content: flex-end;
            }
        }
    }
    .wrapperMainMenu {
        display: flex;
        align-items: stretch;
        background: $white-color;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .slick-list {
            width: 100%;
            .slick-track {
                display: flex;
                align-items: center;
            }
        }
        .menu {
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: $font-color;
            font-weight: 600;
            position: relative;
            &:hover {
                &::before {
                    width: 100%;
                    transition: .3s ease;
                } 
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 0%;
                height: 5px;
                left: 0;
                bottom: -2px;
                display: block;
                background-color: #3C543C;
                transition: .3s ease;
            }
        }
        .menu.active {
            color: #3E3E3E;
                &::before {
                width: 100%;
                transition: .3s ease;
            } 
        }
    }
}

@media screen and (min-width :0px) {
    #mainHeader {
        padding-top: 0;
        .navbar {
            margin-bottom: 1rem;
            .container-fluid {
                .navbar-brand {
                    img {
                        max-width: 55px;
                    }
                    .brand-title {
                        margin-left: 0px;
                        h1 {
                            font-size: 26px;
                            letter-spacing: 3px;
                        }
                    }
                }
                .userControl {
                    .notification {
                        .dropdown {
                            .btnNotification {
                                .numberNotif {
                                    right: 1px;
                                    top: -10px;
                                    padding: 3px 8px;
                                    font-size: 12px;
                                }
                            }
                            
                            .dropdown-menu {
                                left: -165px;
                                li {
                                    .dropdown-item {
                                        margin: .5rem 0;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        .iconMassage {
                                            margin-bottom: .5rem;
                                            ion-icon {
                                                margin: 0;
                                                color: #7e97ae;
                                            }
                                        }
                                        .wrapperMessage {
                                            margin-bottom: .3rem;
                                            .messageName {
                                                margin-bottom: .3rem;
                                                h1 {
                                                    font-size: 14px;
                                                }
                                            }
                                            .messageContent {
                                                p {
                                                    font-size: 12px;
                                                    
                                                }
                                            }
                                            
                                        }
                                        .messageTime {
                                            span {
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    ion-icon {
                        margin: 0 .5rem;
                        font-size: 24px;
                    }
                    .profil {
                        margin: 0 .3rem;
                    }
                }
            }

            .navbarBack {
                padding-top: 1rem;
                padding-bottom: 1rem;
                .namePages {
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                    width: 100%;
                }
                .userControl {
                    width: 100%;
                    .notification {
                        .dropdown {
                            .btnNotification {
                                .numberNotif {
                                    right: -5px;
                                    top: -10px;
                                    padding: 3px 6px;
                                    font-size: 8px;
                                }
                            }
                            
                            .dropdown-menu {
                                left: -180px;
                                li {
                                    .dropdown-item {
                                        margin: .5rem 0;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        .iconMassage {
                                            margin-bottom: .5rem;
                                            ion-icon {
                                                margin: 0;
                                                color: #7e97ae;
                                            }
                                        }
                                        .wrapperMessage {
                                            margin-bottom: .3rem;
                                            .messageName {
                                                margin-bottom: .3rem;
                                                h1 {
                                                    font-size: 14px;
                                                }
                                            }
                                            .messageContent {
                                                p {
                                                    font-size: 12px;
                                                    
                                                }
                                            }
                                            
                                        }
                                        .messageTime {
                                            span {
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    ion-icon {
                        margin: 0rem;
                        font-size: 20px;
                    }
                    .profil {
                        margin: 0 .5rem;
                        .dropdown-toggle {
                            img {
                                max-width: 24px;
                            }
                        }
                    }
                }
            }
        }
        .wrapperMainMenu {
            padding: .5rem .3rem;
            .menu {
                width: 100%;
                font-size: 10px;
                padding: .8rem  .3rem;
            }
        }
    }

    .mobileMenu {
        .menu {
            font-size: 10px;
        }
    }
}
