/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    font-family: 'Poppins', sans-serif;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/*------------
Styling
------------*/

#mainHeader {
    .navbar {
        margin-bottom: 0;
        .navbarHome {
            display: none;
        }
        .container-fluid {
            .userControl {
                .notification {
                    .dropdown {
                        .dropdown-menu {
                            max-height: 350px;
                            overflow-y: scroll;
                        }
                    }
                }
            }
        }
    }
    .wrapperMainMenu {
        padding: .5rem 0;
        .menu {
            font-size: 12px;
            padding: .5rem .3rem;
            &::before {
                height: 3px;
                bottom: -8.5px;
            }
        }
    }
}

.mainContent {
    margin-bottom: 3rem;
    .search{
        display: flex;
        align-items: center;
        input {
            width: 100%;
            border-radius: 10px 0px 0px 10px;
            border: 1px solid #A6A6A6;
            font-family: 'Poppins', sans-serif;
            border-right: none;
        }
        button {
            border: none;
            background: linear-gradient(127.42deg, #3D553D 2.41%, #8AAC74 100%);
            border-radius: 0px 10px 10px 0px;
        }
    }
    .wrapperAction {
        display: flex;
        width: 100%;
        justify-content: center;

        .wrapperUrutkan {
            .urutkanBtn {
                border: none;
                position: static !important; 
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                &::after {
                    display: none;
                }
            }
            .urutkanMenu {
                width: 100%;
                .dropdown-item {
                    white-space: pre-wrap;
                }
            }
        }
        .wrapperFilter {
            .btnFilter {
                border: none;
                border-radius: 4px;
                display: flex;
                justify-content: center;
            }
        }
    }
    .wrapperFilter {
        .modal {
            .modal-dialog {
                .modal-content {
                    .modal-header {
                        .btn-close {
                            margin: 0;
                        }
                        .resetFilter {
                            border: none;
                            background: transparent;
                            font-size: 12px;
                        }
                    }
                    .modal-body {
                        form {
                            label {
                                font-size: 12px;
                                font-weight: 500;
                                margin-bottom: .3rem;
                            }
                            input {
                                border: 0.5px solid #535353;
                                box-sizing: border-box;
                                border-radius: 4px;
                                padding: 0.5rem;
                                font-size: 12px;
                            }
                            .kota {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: .5rem;
                                input {
                                    min-height: 35px;
                                }
                            }
                            .wrapperPrice {
                                display: flex;
                                .minPrice {
                                    margin-right: .5rem;
                                }
                                .minPrice,.maxPrice {
                                    width: 100%;
                                    input {
                                        width: 100%;
                                        min-height: 35px;
                                    }
                                }
                            }
                            .tipeProperti {
                                margin-bottom: 1rem;
                                .form-check {
                                    input {
                                        margin-right: .3rem;
                                        border-radius: 50%;
                                        box-shadow: none;
                                        &:checked {
                                            background-color: #08850D;
                                        }
                                    }
                                    label {
                                        margin: 0;
                                    }
                                }
                            }
                            .jenisProperti {
                                margin-bottom: 1rem;
                                input {
                                    box-shadow: none;
                                    margin-right: .3rem;
                                    &:checked {
                                        background-color: #08850D;
                                    }
                                }
                            }
                            .kamarTidur,.kamarMandi {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-bottom: 1rem;
                                .label {
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                                .wrapperProduct {
                                    display: flex;
                                    align-items: center;
                                    input {
                                        width: 30px;
                                        padding: .3rem .1rem;
                                        text-align: center;
                                        border: none;
                                        appearance: none;
                                        &::-webkit-inner-spin-button {
                                            -webkit-appearance: none;
                                        }
                                    }
                                    .distract,.add {
                                        padding: .3rem;
                                        cursor: pointer;
                                        border: 1px solid #368736;
                                        background: transparent;
                                        color: #368736;
                                    }
                                }
                            }
                            .btnCari {
                                margin-top: 2rem;
                                button {
                                    border: none;
                                    background: #28A745;
                                    border-radius: 4px;
                                    padding: .3rem 1rem;
                                    color: #fff;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .wrapperProperti {
        .properti {
            text-decoration: none;
            background: #fff;
            display: inline-block;
            border-radius: 10px;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
            width: 100%;
            .imagesProperti {
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
            .wrapperInformationProperti {
                
                .wrapperFasilitas {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .fasilitas {
                        p {
                            color: #000;
                            font-weight: 500;
                        }
                        span {
                            color: #000;
                            font-weight: 500;
                        }
                    }
                }
                .namaPerumahan {
                    font-weight: 600;
                    color: #000;
                    .tipeRumah {
                        color: #FF0000;
                    }
                }
                .location {
                    font-weight: 600;
                    color: #000;
                }
                .totalYangTersedia {
                    color: #97BB7D;
                }
                .moreDetails {
                    margin-top: 1.5rem;
                    .priceProperti {
                        color: #28A745;
                        font-weight: 600;
                    }
                    .wrapperKprDanSukuBunga {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;

                        .kpr,.sukuBuanga {
                            h3 {
                                color: #000;
                            }
                            .valueKPR,.valueSukuBunga {
                                color: #28A745;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 0px) {
    .mainContent {
        .search{
            margin-bottom: 1rem;
            input {
                padding: .65rem 1rem;
                font-size: 12px;
                &::placeholder {
                    font-size: 10px;
                }
                
            }
            button {
                padding: .5rem;
                svg {
                    width: 100%;
                }
            }
        }
        .wrapperAction {
            margin-bottom: 1.5rem;
            .wrapperUrutkan {
                margin-right: 1rem;
                .urutkanBtn {
                    padding: .5rem 1rem;
                    font-size: 12px;
                    min-width: 100px;
                    max-width: 100px;
                    svg {
                        margin-right: .3rem;
                    }
                }
                .urutkanMenu {
                    min-width: 100px;
                    max-width: 100px;
                    .dropdown-item {
                        font-size: 12px;
                    }
                }
            }
            .wrapperFilter {
                .btnFilter {
                    min-width: 100px;
                    max-width: 100px;
                    padding: .5rem 1rem;
                    font-size: 12px;
                    border-radius: 4px;
                }
            }
        }
        .wrapperProperti {
            .properti {
                margin-bottom: 1rem;
                text-decoration: none;
                background: #fff;
                display: inline-block;
                border-radius: 10px;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
                width: 100%;
                .imagesProperti {
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                }
                .wrapperInformationProperti {
                    padding: 1rem;
                    .namaPerumahan {
                        .tipeRumah {
                            margin-right: .3rem;
                        }
                    }
                    .wrapperFasilitas {
                        margin-bottom: .5rem;
                        .fasilitas {
                            p {
                                font-size: 12px;
                            }
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                    .namaPerumahan {
                        font-size: 14px;
                    }
                    .location {
                        font-size: 12px;
                    }
                    .totalYangTersedia {
                        font-size: 12px;
                    }
                    .moreDetails {
                        .developer {
                            font-size: 12px;
                            font-weight: 600;
                            color: #000;
                            margin-bottom: .5rem;
                            .nameDeveloper {
                                color: #0094FF;
                            }
                        }
                        .priceProperti {
                            font-size: 18px;
                        }
                        .wrapperKprDanSukuBunga {
                            margin-top: 1rem;
                            .kpr,.sukuBuanga {
                                h3 {
                                    font-size: 14px;
                                }
                                .valueKPR,.valueSukuBunga {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}