/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;


/*------------
Reusable
------------*/
.nameTable {
    font-size: 24px;
}
.nameContentMenu {
    color: #3B4E63;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 16px;
}
.nameContentAllMenu {
    color: #3B4E63;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 22px;
}
.fullWidth {
    width: 100%;
}
.nameCard {
    color: #3B4E63;
    font-weight: 500;
}
.labelNameCard {
    font-weight: 400;
    color: #3B4E63;
}
.valueOfCard {
    font-weight: 700;
    color: #3B4E63;
}
.colorText {
    color: #3B4E63;
}
.nameHightCard {
    font-weight: 700;
    color: #3B4E63;
}
.valueChart {
    font-weight: 700;
}
body {
    transition: 1s;
    overflow-x: hidden;
}

/*------------
Styling
------------*/
.mainContent {
    margin-bottom: 3rem;
    .wrapperStatisticPrajurit {
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        .wrapperContentStatistic {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .wrapperLabel {
            color: $font-color;
            .label {
                .nameLabel {
                    font-weight: 700;
                }
                .valueLabel {
                    font-weight: 500;
                }
            }
            .prajuritAktif {
                &::before {
                    background: #A2A846;
                }
            }
            .prajuritPensiun {
                &::before {
                    background: #587350;
                }
            }
        }
    }
    .wrapperContentAllMenu {
        .eBaltab {
            .wrapperCardPengajuan {
                display: flex;
                .cardPengajuan {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    .wrapperChart {
                        display: flex;
                        justify-content: flex-end;
                    }
                    .wrapperArrow {
                        position: absolute;
                    }
                    .downArrow {
                        transform: rotate(180deg);
                    }
                }
            }
            .wrapperCardDanaAlokasi {
                background: #FFFFFF;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                .wrapperContentCard {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .wrapperLabel {
                        color: $font-color;
                        .label {
                            .nameLabel {
                                font-weight: 700;
                            }
                            .valueChart {
                                font-weight: 500;
                            }
                        }
                        .jumlahDanaAlokasi {
                            &::before {
                                background: #7334FF;
                            }
                        }
                        .alokasiTerelalisasi {
                            &::before {
                                background: #FF832A;
                            }
                        }
                    }
                }
            }
            .wrapperCardPenyaluran {
                display: flex;
                .cardPenyaluran {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    .wrapperChart {
                        display: flex;
                        justify-content: flex-end;
                    }
                    .wrapperArrow {
                        position: absolute;
                    }
                    .downArrow {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

@media screen and (min-width :0px) {
    .mainContent {
        .wrapperStatisticPrajurit {
            margin-bottom: 1rem;
            padding: 1rem;
            .wrapperChartPrajurit {
                canvas {
                    max-width: 110px;
                }
            }
            .wrapperLabel {
                color: $font-color;
                .label {
                    position: relative;
                    .nameLabel {
                        font-size: 16px;
                    }
                    .valueLabel {
                        font-size: 12px;
                    }
                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }

                    &::before {
                        content: '';
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        left: -20px;
                        top: 35%;
                        bottom: 50%;
                    }
                }
            }
        }
        .wrapperContentAllMenu {
            .eBaltab {
                .wrapperCardPengajuan {
                    margin-bottom: 1rem;
                    .cardPengajuan {
                        padding: 1rem .5rem;
                        width: 100%;
                        &:not(:last-child) {
                            margin-right: .5rem;
                        }
                        .infoStatistic {
                            .nameCard {
                                font-size: 11px;
                                margin-bottom: 8px;
                            }
                            .labelNameCard {
                                font-size: 11px;
                                margin-bottom: -3px;
                            }
                            .valueOfCard {
                                font-size: 14px;
                            }
                        }
                        .wrapperChart {
                            canvas {
                                max-width: 50px;
                            }
                        }
                        .wrapperArrow {
                            right: 10px;
                            top: 2px;
                            img {
                                max-width: 8px;
                            }
                        }
                    }
                }
                .wrapperCardDanaAlokasi {
                    padding: 1rem;
                    margin-bottom: 1rem;
                    .wrapperContentCard {
                        .wrapperChart {
                            canvas {
                                max-width: 110px
                            }
                        }
                        .wrapperLabel {
                            color: $font-color;
                            .label {
                                position: relative;
                                .nameLabel {
                                    font-size: 11px;
                                }
                                .valueChart {
                                    font-size: 11px;
                                }
                                &:not(:last-child) {
                                    margin-bottom: 1rem;
                                }
                                &::before {
                                    content: '';
                                    height: 10px;
                                    width: 10px;
                                    border-radius: 50%;
                                    display: block;
                                    position: absolute;
                                    left: -20px;
                                    top: 35%;
                                    bottom: 50%;
                                }
                            }
                        }
                    }
                }
                .wrapperCardPenyaluran {
                    margin-bottom: 1rem;
                    .cardPenyaluran {
                        padding: 1rem .5rem;
                        width: 100%;
                        &:not(:last-child) {
                            margin-right: .5rem;
                        }
                        .infoStatistic {
                            .nameCard {
                                font-size: 11px;
                                margin-bottom: 8px;
                            }
                            .labelNameCard {
                                font-size: 11px;
                                margin-bottom: -3px;
                            }
                            .valueOfCard {
                                font-size: 14px;
                            }
                        }
                        .wrapperChart {
                            canvas {
                                max-width: 50px;
                            }
                        }
                        .wrapperArrow {
                            right: 10px;
                            top: 2px;
                            img {
                                max-width: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width :375px) {
    .mainContent {
        .wrapperStatisticPrajurit {
            .wrapperChartPrajurit {
                canvas {
                    max-width: 130px;
                }
            }
        }
        .wrapperContentAllMenu {
            .eBaltab {
                .wrapperCardDanaAlokasi {
                    .wrapperContentCard {
                        .wrapperChart {
                            canvas {
                                max-width: 130px
                            }
                        }
                        .wrapperLabel {
                            color: $font-color;
                            .label {
                                position: relative;
                                .nameLabel {
                                    font-size: 12px;
                                }
                                .valueChart {
                                    font-size: 12px;
                                }
                                &::before {
                                    height: 11px;
                                    width: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :425px) {
    .mainContent {
        .wrapperStatisticPrajurit {
            .wrapperChartPrajurit {
                canvas {
                    max-width: 150px;
                }
            }
        }
        .wrapperContentAllMenu {
            .eBaltab {
                .wrapperCardPengajuan {
                    .cardPengajuan {
                        .wrapperChart {
                            canvas {
                                max-width: 60px;
                            }
                        }
                    }
                }
                .wrapperCardPenyaluran {
                    .cardPenyaluran {
                        .wrapperChart {
                            canvas {
                                max-width: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}