/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../../../dist/assets/font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/
.slick-list {
    width: 100%;
    .slick-track {
        width: 100%;
    }
}
#mainHeader {
    .navbar {
        .container-fluid {
            .navbar-brand {
                .brand-title {
                    h1 {
                        font-family: steelfish;
                    }
                }
            }
        }
    }
}
.mainContent {
    .nameContent {
        color: $font-color;
        font-size: 18px;
    }
    .wrapperDataSummary {
        display: flex;
        .data {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            background: $white-color;
        }
    }

    .container-danaAlokasi-penyaluranDana {
        .alokasiDana,.penyaluranDana {
            display: flex;
            .cardStatistic {
                display: flex;
                align-items: center;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);

                .contentValue {
                    .nameValue {
                        font-weight: 600;
                    }
                    .valueDana {
                        display: flex;
                        font-weight: 600;
                        .value {
                            margin-left: 2px;
                        }
                    }
                }
                .wrapperChart {
                    canvas {
                        max-width: 60px;
                    }
                }
            }
        }
    }

    .statisticAllDataEbaltab {
        .containerChart {
            padding: 1rem;
            background: $white-color;
            box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
    }
}

@media screen and (min-width :0px) {
    .mainContent {
        position: relative;
        margin-bottom: 4rem;
        .nameContent {
            margin-bottom: 1rem;
        }
        .wrapperDataSummary {
            .slick-track {
                display: flex;
                align-items: center;
            }
            .data {
                padding: 1rem;
                margin: 1rem .5rem;
                border-radius: 8px;
                .icon {
                    margin-bottom: 1rem;
                    img,canvas {
                        max-width: 70px;
                    }
                }
                .titleData {
                    font-size: 14px;
                    font-weight: 600;
                    .valueData {
                        color: #DC3545;
                    }
                }
                .btnStyle {
                    margin-top: 1rem;
                    font-size: 14px;
                }
                .month,.years {
                    font-size: 12px;
                }
            }
        }
        .container-danaAlokasi-penyaluranDana {
            margin-bottom: 1rem;
            .alokasiDana,.penyaluranDana {
                .cardStatistic {
                    padding: 1rem;
                    margin: .5rem;
                    width: 100%;
                    justify-content: space-between;
                    border-radius: 8px;
                    .contentValue {
                        margin-right: .5rem;
                        .nameValue {
                            font-size: 14px;
                        }
                        .valueDana {
                            font-size: 12px;
                        }
                    }
                    .wrapperChart {
                        canvas {
                            max-width: 80px;
                        }
                    }
                }
            }
        }
    }
}