/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../../../dist/assets/font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;


/*------------
Reusable
------------*/
.nameTable {
    font-size: 24px;
}
.nameContentMenu {
    color: #3B4E63;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 16px;
}
.nameContentAllMenu {
    color: #3B4E63;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 22px;
}
.fullWidth {
    width: 100%;
}
.nameCard {
    color: #3B4E63;
    font-weight: 500;
}
.labelNameCard {
    font-weight: 400;
    color: #3B4E63;
}
.valueOfCard {
    font-weight: 700;
    color: #3B4E63;
}
.colorText {
    color: #3B4E63;
}
.nameHightCard {
    font-weight: 700;
    color: #3B4E63;
}
.valueChart {
    font-weight: 700;
}
body {
    transition: 1s;
    overflow-x: hidden;
}

/*------------
Styling
------------*/
.mainContent {
    margin-bottom: 3rem;
    .wrapperStatisticPrajurit {
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        .wrapperContentStatistic {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .wrapperLabel {
            color: $font-color;
            .label {
                .nameLabel {
                    font-weight: 700;
                }
                .valueLabel {
                    font-weight: 500;
                }
            }
            .prajuritAktif {
                &::before {
                    background: #A2A846;
                }
            }
            .prajuritPensiun {
                &::before {
                    background: #587350;
                }
            }
        }
    }
    .wrapperContentAllMenu {
        .eBaltab {
            .wrapperCardPengajuan {
                display: flex;
                .cardPengajuan {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    .wrapperChart {
                        display: flex;
                        justify-content: flex-end;
                    }
                    .wrapperArrow {
                        position: absolute;
                    }
                    .downArrow {
                        transform: rotate(180deg);
                    }
                }
            }
            .wrapperCardDanaAlokasi {
                background: #FFFFFF;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                .wrapperContentCard {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .wrapperLabel {
                        color: $font-color;
                        .label {
                            .nameLabel {
                                font-weight: 700;
                            }
                            .valueChart {
                                font-weight: 500;
                            }
                        }
                        .jumlahDanaAlokasi {
                            &::before {
                                background: #7334FF;
                            }
                        }
                        .alokasiTerelalisasi {
                            &::before {
                                background: #FF832A;
                            }
                        }
                    }
                }
            }
            .wrapperCardPenyaluran {
                display: flex;
                .cardPenyaluran {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    .wrapperChart {
                        display: flex;
                        justify-content: flex-end;
                    }
                    .wrapperArrow {
                        position: absolute;
                    }
                    .downArrow {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .eKPR {
            .wrapperDebitur {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                .debitur {
                    position: relative;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    width: 100%;
                    .contentDebitur {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: space-between;
                        .wrapperLabel {
                            .date {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .wrapperRekapData {
                display: flex;
                margin-bottom: 1rem;
                align-items: center;
                .cardRekap {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .infoStatistic {
                        .nameCard {
                            font-weight: 700;
                        }
                        .labelNameCard {
                            font-weight: 500;
                        }
                    }
                }
            }
            .wrapperStatistic {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                .debitur {
                    position: relative;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    width: 100%;
                    .contentDebitur {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: space-between;
                        .wrapperLabel {
                            .date {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .wrapperCardDataPokokDanBunga {
                background: #fff;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                .wrapperContentCard {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .wrapperLabel {
                    color: $font-color;
                    .label {
                        .nameLabel {
                            font-weight: 700;
                        }
                        .valueChart {
                            font-weight: 500;
                        }
                    }
                    .jumlahDanaAlokasi {
                        &::before {
                            background: #FF832A;
                        }
                    }
                    .alokasiTerelalisasi {
                        &::before {
                            background: #A2A846;
                        }
                    }
                }
            }
        }
        
        .eAkunting {
            position: relative;
            .wrapperTable {
                .nameContentMenu {
                    font-weight: 700;
                    color: #3B4E63;
                }
                table {
                    width: 100%;
                    text-align: center;
                    thead {
                        tr {
                            th {
                                &:first-child {
                                    border-radius: 6px 0 0px 6px;
                                }
                                &:last-child {
                                    border-radius: 0px 6px 6px 0px;
                                }
                            }
                        }
                    } 
                }
                .saldoAkun,.hutangPerAkun {
                    .headTable {
                        background: #FF832A;
                        
                    }
                }
                .saldoAkunDuo {
                    .headTable {
                        background: #A2A846;
                    }
                }
                .piutangPerAkun {
                    .headTable {
                        background: #7334FF;
                    }
                }
            }
            .wrapperChartLabaRugi {
                background: #fff;
                box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
                border-radius: 15px;
                padding: 1rem;
                .nameContentMenu {
                    font-weight: 700;
                    color: #3B4E63;
                }
            }
        }

        .eTWP {
            .wrapperTable {
                margin-bottom: 1rem;
                .nameContentMenu {
                    font-weight: 700;
                    color: #3B4E63;
                }
                table {
                    text-align: center;
                    thead {
                        tr {
                            th {
                                &:first-child {
                                    border-radius: 6px 0 0px 6px;
                                }
                                &:last-child {
                                    border-radius: 0px 6px 6px 0px;
                                }
                            }
                        }
                    } 
                }
                .iuranTWP {
                    .headTable {
                        background: #FF832B;
                    }
                }
                .dataPensiun {
                    .headTable {
                        background: #A2A846;
                    }
                }
                .rekapTabungan {
                    .headTable {
                        background: #7334FF;
                    }
                }
            }
            .wrapperChartHistoriData {
                background: #FFFFFF;
                box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
                border-radius: 15px;
                padding: 2rem;
            }
        }
    }
}

@media screen and (min-width :0px) {
    #mainHeader {
        height: 166px;
        border-radius: 0 0 30px 30px;
    }
    .mainContent {
        position: relative;
        top: -80px;
        .wrapperStatisticPrajurit {
            margin-bottom: 1rem;
            padding: 1rem;
            .wrapperChartPrajurit {
                canvas {
                    max-width: 110px;
                }
            }
            .wrapperLabel {
                color: $font-color;
                .label {
                    position: relative;
                    .nameLabel {
                        font-size: 16px;
                    }
                    .valueLabel {
                        font-size: 12px;
                    }
                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }

                    &::before {
                        content: '';
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        left: -20px;
                        top: 35%;
                        bottom: 50%;
                    }
                }
            }
        }
        .wrapperContentAllMenu {
            .eBaltab {
                .wrapperCardPengajuan {
                    margin-bottom: 1rem;
                    .cardPengajuan {
                        padding: 1rem .5rem;
                        width: 100%;
                        &:not(:last-child) {
                            margin-right: .5rem;
                        }
                        .infoStatistic {
                            .nameCard {
                                font-size: 11px;
                                margin-bottom: 8px;
                            }
                            .labelNameCard {
                                font-size: 11px;
                                margin-bottom: -3px;
                            }
                            .valueOfCard {
                                font-size: 14px;
                            }
                        }
                        .wrapperChart {
                            canvas {
                                max-width: 50px;
                            }
                        }
                        .wrapperArrow {
                            right: 10px;
                            top: 2px;
                            img {
                                max-width: 8px;
                            }
                        }
                    }
                }
                .wrapperCardDanaAlokasi {
                    padding: 1rem;
                    margin-bottom: 1rem;
                    .wrapperContentCard {
                        .wrapperChart {
                            canvas {
                                max-width: 110px
                            }
                        }
                        .wrapperLabel {
                            color: $font-color;
                            .label {
                                position: relative;
                                .nameLabel {
                                    font-size: 11px;
                                }
                                .valueChart {
                                    font-size: 11px;
                                }
                                &:not(:last-child) {
                                    margin-bottom: 1rem;
                                }
                                &::before {
                                    content: '';
                                    height: 10px;
                                    width: 10px;
                                    border-radius: 50%;
                                    display: block;
                                    position: absolute;
                                    left: -20px;
                                    top: 35%;
                                    bottom: 50%;
                                }
                            }
                        }
                    }
                }
                .wrapperCardPenyaluran {
                    margin-bottom: 1rem;
                    .cardPenyaluran {
                        padding: 1rem .5rem;
                        width: 100%;
                        &:not(:last-child) {
                            margin-right: .5rem;
                        }
                        .infoStatistic {
                            .nameCard {
                                font-size: 11px;
                                margin-bottom: 8px;
                            }
                            .labelNameCard {
                                font-size: 11px;
                                margin-bottom: -3px;
                            }
                            .valueOfCard {
                                font-size: 14px;
                            }
                        }
                        .wrapperChart {
                            canvas {
                                max-width: 50px;
                            }
                        }
                        .wrapperArrow {
                            right: 10px;
                            top: 2px;
                            img {
                                max-width: 8px;
                            }
                        }
                    }
                }
            }
            .eKPR {
                .wrapperDebitur {
                    .debitur {
                        padding: 1rem;
                        width: 100%;
                        margin: .5rem;
                        .headerCardDebitur {
                            width: 100%;
                            margin-bottom: 1rem;
                            .nameCard {
                                font-size: 14px;
                            }
                            .wrapperArrow {
                                position: absolute;
                                right: 15px;
                                top: 20px;
                                img {
                                    max-width: 10px;
                                }
                            }
                        }
                        .contentDebitur {
                            .wrapperChart {
                                canvas {
                                    max-width: 80px;
                                }
                            }
                            .wrapperLabel {
                                .valueChart {
                                    font-size: 14px;
                                }
                                .date {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                .wrapperRekapData {
                    .cardRekap {
                        padding: 1rem;
                        margin: .5rem;
                        position: relative;
                        .infoStatistic {
                            .nameCard {
                                font-size: 12px;
                                margin-bottom: 1rem;
                            }
                            .labelNameCard {
                                font-size: 12px;
                            }
                            .valueOfCard {
                                font-size: 12px;
                            }
                        }
                        .wrapperChart {
                            canvas {
                                max-width: 80px;
                            }
                        }
                        .wrapperArrow {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            img {
                                max-width: 12px;
                            }
                        }
                    }
                }
                .wrapperStatistic {
                    .debitur {
                        padding: 1rem;
                        width: 100%;
                        margin: .5rem;
                        .headerCardDebitur {
                            width: 100%;
                            margin-bottom: 1rem;
                            .nameCard {
                                font-size: 14px;
                            }
                            .wrapperArrow {
                                position: absolute;
                                right: 15px;
                                top: 20px;
                                img {
                                    max-width: 10px;
                                }
                            }
                        }
                        .contentDebitur {
                            .wrapperChart {
                                canvas {
                                    max-width: 80px;
                                }
                            }
                            .wrapperLabel {
                                .valueChart {
                                    font-size: 14px;
                                }
                                .date {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                .wrapperCardDataPokokDanBunga {
                    margin-bottom: 1rem;
                    padding: 1rem;
                    .wrapperContentCard {
                        canvas {
                            max-width: 110px;
                        }
                    }
                    .wrapperLabel {
                        color: $font-color;
                        .label {
                            position: relative;
                            .nameLabel {
                                font-size: 14px;
                            }
                            .valueChart {
                                font-size: 14px;
                            }
                            &:not(:last-child) {
                                margin-bottom: 1rem;
                            }
        
                            &::before {
                                content: '';
                                height: 10px;
                                width: 10px;
                                border-radius: 50%;
                                display: block;
                                position: absolute;
                                left: -20px;
                                top: 35%;
                                bottom: 50%;
                            }
                        }
                    }
                }
            }
            .eAkunting {
                .wrapperTable {
                    margin-bottom: 1rem;
                    .nameContentMenu {
                        margin-bottom: 0;
                    }
                    table {
                        text-align: center;
                        thead {
                            tr {
                                th {
                                    font-size: 11px;
                                    &:first-child {
                                        border-radius: 6px 0 0px 6px;
                                    }
                                    &:last-child {
                                        border-radius: 0px 6px 6px 0px;
                                    }
                                }
                            }
                        } 
                        tbody {
                            tr {
                                td {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                    .saldoAkun,.hutangPerAkun {
                        .headTable {
                            background: #FF832A;
                            
                        }
                    }
                    .saldoAkunDuo {
                        .headTable {
                            background: #A2A846;
                        }
                    }
                    .piutangPerAkun {
                        .headTable {
                            background: #7334FF;
                        }
                    }
                }
                .wrapperChartLabaRugi {
                    bacbackground: #FFFFFF;
                    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
                    border-radius: 15px;
                    padding: 1rem;
                    .nameTable {
                        font-weight: 700;
                        color: #3B4E63;
                    }
                }
            }
            .eTWP {
                .wrapperTable {
                    margin-bottom: 1rem;
                    table {
                        thead {
                            tr {
                                font-size: 11px;
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    font-size: 11px;
                                }
                            }
                        } 
                    }
                }
                .wrapperChartHistoriData {
                    padding: 1rem;
                }
            }
        }
    }
}


@media screen and (min-width :375px) {
    .mainContent {
        .wrapperStatisticPrajurit {
            .wrapperChartPrajurit {
                canvas {
                    max-width: 130px;
                }
            }
        }
        .wrapperContentAllMenu {
            .eBaltab {
                .wrapperCardDanaAlokasi {
                    .wrapperContentCard {
                        .wrapperChart {
                            canvas {
                                max-width: 130px
                            }
                        }
                        .wrapperLabel {
                            color: $font-color;
                            .label {
                                position: relative;
                                .nameLabel {
                                    font-size: 12px;
                                }
                                .valueChart {
                                    font-size: 12px;
                                }
                                &::before {
                                    height: 11px;
                                    width: 11px;
                                }
                            }
                        }
                    }
                }
            }
            .eKPR {
                .wrapperDebitur {
                    .debitur {
                        .headerCardDebitur {
                            .nameCard {
                                font-size: 14px;
                            }
                            .wrapperArrow {
                                position: absolute;
                                right: 15px;
                                top: 20px;
                                img {
                                    max-width: 10px;
                                }
                            }
                        }
                        .contentDebitur {
                            .wrapperChart {
                                canvas {
                                    max-width: 100px;
                                }
                            }
                        }
                    }
                }
                .wrapperStatistic {
                    .debitur {
                        .headerCardDebitur {
                            .nameCard {
                                font-size: 14px;
                            }
                            .wrapperArrow {
                                position: absolute;
                                right: 15px;
                                top: 20px;
                                img {
                                    max-width: 10px;
                                }
                            }
                        }
                        .contentDebitur {
                            .wrapperChart {
                                canvas {
                                    max-width: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :425px) {
    .mainContent {
        .wrapperStatisticPrajurit {
            .wrapperChartPrajurit {
                canvas {
                    max-width: 150px;
                }
            }
        }
        .wrapperContentAllMenu {
            .eBaltab {
                .wrapperCardPengajuan {
                    .cardPengajuan {
                        .wrapperChart {
                            canvas {
                                max-width: 60px;
                            }
                        }
                    }
                }
                .wrapperCardPenyaluran {
                    .cardPenyaluran {
                        .wrapperChart {
                            canvas {
                                max-width: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}