/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    font-family: 'Poppins', sans-serif;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/*------------
Styling
------------*/

#mainHeader {
    .navbar {
        margin-bottom: 0;
        .navbarBack {
            display: none;
        }
        .container-fluid {
            .userControl {
                .notification {
                    .dropdown {
                        .dropdown-menu {
                            max-height: 350px;
                            overflow-y: scroll;
                        }
                    }
                }
            }
        }
    }
    .wrapperMainMenu {
        padding: .5rem 0;
        .menu {
            font-size: 12px;
            padding: .5rem .3rem;
            &::before {
                height: 3px;
                bottom: -8.5px;
            }
        }
    }
}

.mainContent {
    .wrapperNamePages {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cariProperti {
            background: linear-gradient(127.42deg, #3D553D 2.41%, #8AAC74 100%);
            border-radius: 3px;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #fff;
            font-weight: 500;
            white-space: nowrap;
        }
    }
    .pilihPropertiMenu {
        .pilihProperti {
            .btnPilihProperti {
                width: 100%;
                position: relative !important;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .5rem .8rem;
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                color: #41593F;
                font-weight: 600;
                font-size: 16px;
            }
            .dropdown-menu {
                width: 100% !important;
                .dropdown-item {
                    white-space: pre-wrap;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
    .wrapperProperti {
        display: flex;
        .properti {
            border-radius: 10px;
            background: #FFFFFF;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
            text-decoration: none;
            color: #3E3E3E;
            .fotoProperti {
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
        }
    }
    .containerHunianPilihan {
        .nameContent {
            margin: 0;
        }
        .wrapperHunianPilihan {
            .properti {
                width: 100%;
                border-radius: 10px;
                background: #FFFFFF;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
                color: #3E3E3E;                
                .fotoProperti {
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;
                }
            }
        }
    }
}
@media screen and (min-width : 0px) {
    .mainContent {
        margin-bottom: 4rem;
        .wrapperNamePages {
            margin-bottom: 1rem;
            .nameContent {
                margin: 0;
                font-size: 18px;
            }
            .cariProperti {
                padding: .5rem 1rem;
                font-weight: 500;
                white-space: nowrap;
                font-size: 10px;
                svg {
                    margin-right: .3rem;
                }
            }
        }
        .wrapperProperti {
            .properti {
                width: 100%;
                margin: 1.5rem 1rem;
                .informationProperti {
                    padding: 1rem 1.5rem;
                    .nameDeveloper {
                        font-size: 10px;
                        font-weight: 600;
                        margin-bottom: .3rem;
                    }
                    .namePerumahan {
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 1rem;
                    }
                    .detailInformation {
                        .locationProperti {
                            font-size: 11px;
                            font-weight: 600;
                            margin-bottom: .2rem;
                        }
                        .price {
                            color: #28A745;
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .containerHunianPilihan {
            .nameContent {
                font-size: 16px;
                font-weight: 500;
            }
            .wrapperHunianPilihan {
                .properti {
                    margin: 1.5rem 1rem;
                    .fotoProperti {
                        width: 100%;
                        border-radius: 10px 10px 0px 0px;
                    }
                    .informationProperti {
                        padding: 1rem 1.5rem;
                        .namePerumahan {
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: .5rem;
                        }
                        .tentangProperty {
                            font-size: 10px;
                            margin-bottom: 1rem;
                            font-weight: 600;
                        }
                        .lihatProperi {
                            text-decoration: none;
                            color: #0094FF;
                            font-weight: 600;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}