/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    font-family: 'Poppins', sans-serif;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Styling
------------*/

#mainHeader {
    .navbar {
        margin-bottom: 0;
        .navbarBack {
            display: none;
        }
    }
}
.mainContent {
    .notice {
        background: rgba(162, 168, 70, 1);
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
        margin-bottom: 1.5rem;
        p {
            color: #fff;
            font-weight: 500;
        }
    }
    /*------------
    Reset tabs menu
    ------------*/
    .nav {
        flex-wrap: nowrap;
    }
    .nav-tabs {
        .nav-link {
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 0;
            color: #000000;
            font-weight: 400;

            &::before {
                display: none;
            }
        }
        .nav-link.active {
            background: none;
            border: none;
        }
    }
    /*------------
    End Reset tabs menu
    ------------*/
    .userTabsMenu {
        .nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            .iconMenu {
                background: #FFFFFF;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                margin-bottom: .3rem;
                svg {
                    width: 100%;
                    fill: #08850D;
                }
            }
        }
        .nav-link.active {
            .iconMenu {
                background: #526D4C;
                svg {
                    fill: #fff;
                }
            }
        }
    }
    .userTabsContent {
        .dataWrapper {
            background: #FFFFFF;
            box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        .actionButton {
            margin: 1rem 0;
            .editBtn {
                font-size: 14px;
            }
        }
    }
}
@media screen and (min-width : 0px) {
    .mainContent {
        margin-bottom: 3rem;
        .nameContent {
            font-size: 18px;
            margin-bottom: 1rem;
        }
        .notice {
            padding: 1rem;
            p {
                font-size: 14px;
            }
        }
        .userTabsMenu {
            margin-bottom: 1.5rem;
            .nav-link {
                margin: 0 .3rem;
                .iconMenu {
                    padding: .8rem;
                }
                .nameMenu {
                    font-size: 9px;
                }
            }
        }
        .userTabsContent {
            .dataWrapper {
                padding: 1rem;
                .imgProfil {
                    display: flex;
                    justify-content: center;
                    img {
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 375px) {
    .mainContent {
        .userTabsMenu {
            .nav-link {
                .iconMenu {
                    svg {
                        min-width: 25px;
                        min-height: 25px;
                    }
                }
                .nameMenu {
                    font-size: 10px;
                }
            }
        }
    }
}