/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {

    font-family: steelfish;
    src: url(../../../dist/assets/font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;


.mainContent {
    .wrapperMenuMore {
        .moreMenu {
            border-bottom: 1px solid rgba(0, 0, 0, 0.13);
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                .icon {
                    margin-right: .5rem;
                }
                .nameMenuMore {
                    font-family: 'Poppins', sans-serif;
                }
            }
        }
    }
}

@media screen and (min-width : 0px) {
    #mainHeader {
        height: 100px;
    }
    .mainContent {
        padding: 1rem;
        .wrapperMenuMore {
            .moreMenu {
                a {
                    padding: 1rem 0;
                    .nameMenuMore {
                        font-size: 14px;
                        color: #000;
                    }
                }
            }
        }
    }
}