/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    font-family: 'Poppins', sans-serif;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/*------------
Styling
------------*/

#mainHeader {
    .navbar {
        margin-bottom: 0;
        .navbarBack {
            display: none;
        }
        .container-fluid {
            .userControl {
                .notification {
                    .dropdown {
                        .dropdown-menu {
                            max-height: 350px;
                            overflow-y: scroll;
                        }
                    }
                }
            }
        }
    }
    .wrapperMainMenu {
        padding: .5rem 0;
        .menu {
            font-size: 12px;
            padding: .5rem .3rem;
            &::before {
                height: 3px;
                bottom: -8.5px;
            }
        }
    }
}

.mainContent {
    margin-bottom: 4rem;
    .nameContent {
        font-size: 18px;
    }
    .wrapperAction {
        margin-bottom: 1rem;
        .wrapperFilter {
            width: 100%;
            .urutkanBtn {
                width: 100%;
                justify-content: space-between;
                border: none;
                background: #FFFFFF;
                border: 0.5px solid #818181;
                box-sizing: border-box;
                border-radius: 5px;
                color: #000;
                font-size: 12px;
            }
            .filterMenu {
                width: 100%;
                .dropdown-item {
                    font-size: 12px;
                }
            }
        }
    }
    .wrapperTable {
        .table {
            margin-bottom: 0;
            overflow-x: hidden;
            thead {
                tr {
                    text-align: center;
                    th {
                        font-size: 12px;
                        color: #fff;
                        font-weight: 500;
                        border-bottom: none;
                        &:first-child {
                            border-bottom-left-radius: 6px;
                            border-top-left-radius: 6px;
                        }
                        &:last-child {
                            border-bottom-right-radius: 6px;
                            border-top-right-radius: 6px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
        }
    }
}