/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/
#mainHeader {
    background: $dashboard-background;
    position: relative;
    z-index: 1;

    .navbar {
        .container-fluid {
            .navbar-brand {
                display: flex;
                align-items: center;
                transition: .5s;
                img {
                    transition: .5s;
                }
                .brand-title {
                    color: $white-color;
                    h1 {
                        font-family: steelfish;
                    }
                    p {
                        font-size: 12px;
                        letter-spacing: .8px;
                        font-weight: $font-weight500;
                    }
                }
            }
            .userControl {
                display: flex;
                align-items: center;
                transition: .5s;
                
                .searchBox {
                    display: flex;
                    align-items: center;
                    background: transparent;
                    .searchIcon {
                        display: flex;
                        align-items: center;
                        color: $white-color;
                        cursor: pointer;
                    }
                    .searchInput {
                        border: none;
                        width: 0px;
                        transition: .5s;
                        background: transparent;
                        color: $white-color;
                        font-weight: $font-weight500;

                        &::placeholder {
                            color: $white-color;
                        }
                        &.active {
                            width: 200px;
                            transition: width .5s;
                            border-bottom: 2px solid $white-color;

                        }
                    }
                }
                ion-icon {
                    color: $white-color;
                }
                .dropdown {
                    margin: 0 .8rem;
                    .dropdown-toggle {
                        background: none;
                        border: none;
                        &::after {
                            display: none;
                        }
                        img {
                            max-width: 40px;
                            border-radius: 50%;
                        }
                    }
                    .dropdown-menu {
                        left: -110px;
                        border-radius: 8px;
                        box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
                        .dropdown-item {
                            font-size: 14px;
                            font-weight: $font-weight500;
                        }
                    }
                }
            }
        }
    }
}

.mainMenu {
    position: relative;
    z-index: 2;

    .container-fluid {
        .wrapperMainMenu {
            display: flex;
            position: relative;
            .rekapMain {
                display: flex;
                background: $white-color;
                box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
                border-radius: 15px;

                .headerRekap {
                    p {
                        font-weight: $font-weight500;
                    }
                }
                .wrapperRekap {
                    display: flex;
                    .rekap-information {
                        display: flex;
                        position: relative;
                        .prajurit-information {
                            position: relative;
                            &::before {
                                content: '';
                                position: absolute;
                                display: block;
                                background: red;
                                border-radius: 50%;
                            }
                            h1 {
                                font-weight: $font-weight700;
                            }
                        }
                        .prajurit-aktif {
                            &::before {
                                background: #A2A846;
                            }
                        }
                        .prajurit-pensiun {
                            &::before {
                                background: #587350;
                            }
                        }
    
                    }
                }
                .chart {
                    max-width: 500px;
                }
            }
            .menuButton {
                display: flex;
                flex-wrap: wrap;
                .menu {
                    background: $white-color;
                    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
                    border-radius: 15px;
                    .icon {

                    }
                    .menu-name {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h1 {
                            font-weight: $font-weight700;
                        }
                        span {
                            font-weight: $font-weight500;
                        }
                    }

                    .menu-information {
                        display: flex;
                        justify-content: space-between;
                        .currency {
                            font-weight: $font-weight500;
                        }
                        .bank-interest {
                            color: #32B404;
                            font-weight: $font-weight500;
                        }
                    }
                }

                .nav-link {
                    color: $font-color;
                }
            }
        }
    }
}


//Content Menu

.content-menu {
    position: relative;
    top: -70px;
    .container-fluid {
        .tab-content {
            #v-pills-ebaltab {
                .wrappercontentMenu {
                    .headerTitleMenu {
                        margin-bottom: 2rem;
                        h1 {
                            font-weight: $font-weight700;
                            color: $font-color;
                        }
                    }

                    .contentEbaltab {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .wrappercard-statistic {
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            
                            .statisticPengajuan {
                                background: $white-color;
                                border-radius: 20px;
                                box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);

                                .heading-card {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    h1 {
                                        font-weight: $font-weight700;
                                    }
                                    ion-icon {
                                        transform: rotate(-40deg);
                                    }
                                }

                                .body-card {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    .totaly-accept {
                                        color: $font-color;

                                        p {
                                            font-weight: $font-weight500;
                                        }
                                        span {
                                            font-weight: $font-weight700;
                                        }
                                    }
                                }
                            }
                        }

                        .wrapperDataAlokasi {
                            display: flex;
                            background: $white-color;
                            box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                            border-radius: 15px;
                            width: 100%;
                            .headerDataAlokasi {
                                p {
                                    font-weight: $font-weight500;
                                }
                            }

                            .statisticDataAlokasi {
                                display: flex;
                                align-items: center;

                                .alokasiData-informasi {
                                    position: relative;
                                    .danaAlokasi-informasi {
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            display: block;
                                            background: red;
                                            border-radius: 50%;
                                            height: 20px;
                                            width: 20px;
                                        }

                                        h1 {
                                            font-weight: $font-weight700;
                                        }
                                    }

                                    .jumlahDana {
                                        &::before {
                                            background: #7334FF;
                                        }
                                    }

                                    .danaTeralisasi {
                                        &::before {
                                            background: #FF832B;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

















/*============
Responsive Mobile and Desktop
============*/
@media screen and (min-width :0px) {
    #mainHeader {
        border-radius: 0px 0px 50px 50px;
        height: 300px; 

        .navbar {
            .container-fluid {
                .navbar-brand {
                    img {
                        max-width: 70px;
                    }
                    .brand-title {
                        margin-left: 0px;
                        display: none;
                    }
                }
                .userControl {
                    .searchBox {
                        .searchInput {
                            font-size: 12px;
    
                            &::placeholder {
                                font-size: 12px;
                            }
                            &.active {
                                width: 100px;
                            }
                        }
                    }
                    ion-icon {
                        margin: 0 .5rem;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .mainMenu {
        .container-fluid {
            .wrapperMainMenu {
                flex-direction: column;
                align-items: center;
                .rekapMain {
                    position: relative;
                    flex-direction: column;
                    top: -150px;
                    width: 90%;
                    padding: 26px 12px;
                    .headerRekap {
                        margin-bottom: 1rem;
                    }
                    .wrapperRekap {
                        flex-direction: column;
                        .chart {
                            margin-bottom: 3rem;
                        }
                        .rekap-information {
                            flex-direction: row;
                            justify-content: space-around;
                            .prajurit-information {
                                &::before {
                                    height: 12px;
                                    width: 12px;
                                    left: -20px;
                                    top: 2px;
                                }
                                h1 {
                                    font-size: 14px;
                                }
                                p {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                .menuButton {
                    position: relative;
                    top: -110px;
                    justify-content: space-between;
                    .menu {
                        margin: 6px 6px 12px 6px;
                        padding: 12px 12px;
                        width: 45%;
                        .icon {
                            margin-bottom: 12px;
                            img {
                                width: 32px;
                                height: 52px;
                            }
                        }
                        .menu-name {
                            margin-bottom: 6px;
                            h1 {
                                font-size: 14px;
                            }
                            span {
                                font-size: 12px;
                            }
                        }

                        .menu-information {
                            span {
                                font-size: 12px
                            }
                        }
                    }
                }
            }
        }
    }

    .content-menu {
        .container-fluid {
            .tab-content {
                #v-pills-ebaltab {
                    .wrappercontentMenu {
                        .headerTitleMenu {
                            h1 {
                                font-size: 24px;
                            }
                        }
                        .contentEbaltab {
                            .wrappercard-statistic {
                                margin-bottom: .5rem;
                                .statisticPengajuan {
                                    padding: 14px 14px;
                                    margin: 1.5rem 12px;
                                    width: 100%;

                                    .heading-card {
                                        margin-bottom: 8px;

                                        h1 {
                                            font-size: 16px;
                                        }
                                    }
    
                                    .body-card {
                                        .totaly-accept {
                                            width: 60%;
                                            p {
                                                font-size: 12px;
                                                margin-bottom: .85rem;

                                            }
                                            span {
                                                font-size: 14px;
                                            }
                                        }
                                        .chart-accept {
                                            width: 40%;
                                        }
                                    }
                                }
                            }

                            .wrapperDataAlokasi {
                                position: relative;
                                flex-direction: column;
                                .headerDataAlokasi {
                                    padding: 2rem 1.5rem 1rem 1.5rem;
                                    p {
                                        font-weight: $font-weight500;
                                    }
                                }
    
                                .statisticDataAlokasi {
                                    flex-direction: column;
                                    padding: 1rem 3rem 2rem 3rem;
                                    .chart {
                                        width: 100%;
                                        margin-bottom: 2rem;
                                    }
                                    .alokasiData-informasi {
                                        position: relative;
                                        display: flex;
                                        flex-direction: column;
                                        align-self: flex-start;
                                        .danaAlokasi-informasi {
                                            flex-direction: column;
                                            &::before {
                                                content: '';
                                                position: absolute;
                                                display: block;
                                                background: red;
                                                border-radius: 50%;
                                                height: 12px;
                                                width: 12px;
                                            }
    
                                            h1 {
                                                font-weight: $font-weight700;
                                                font-size: 14px;
                                            }
                                            p {
                                                font-size: 12px;
                                            }
                                        }
    
                                        .jumlahDana {
                                            position: relative;
                                            margin-bottom: 1rem;
                                            &::before {
                                                background: #7334FF;
                                                left: -20px;
                                                top: 2px;
                                            }
                                        }
    
                                        .danaTeralisasi {
                                            position: relative;
                                            &::before {
                                                background: #FF832B;
                                                left: -20px;
                                                top: 2px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 375px) {
    .content-menu {
        .container-fluid {
            .tab-content {
                #v-pills-ebaltab {
                    .wrappercontentMenu {
                        .contentEbaltab {
                            .wrappercard-statistic {
                                .statisticPengajuan {
                                    padding: 14px 14px;

                                    .heading-card {
                                        margin-bottom: 4px;

                                        h1 {
                                            font-size: 18px;
                                        }
                                    }
    
                                    .body-card {
                                        .totaly-accept {
                                            width: 50%;
                                            p {
                                                font-size: 14px;
                                                margin-bottom: .85rem;

                                            }
                                            span {
                                                font-size: 16px;
                                            }
                                        }
                                        .chart-accept {
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 576px) {
    .mainMenu {
        .container-fluid {
            .wrapperMainMenu {
                .rekapMain {
                    .wrapperRekap {
                        .rekap-information {
                            .prajurit-information {
                                &::before {
                                    left: -25px;
                                }
                                h1 {
                                    font-size: 16px;
                                }
                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .menuButton {
                    .menu {
                        width: 47%;
                        .icon {
                            img {
                                width: 36px;
                            }
                        }
                        .menu-name {
                            h1 {
                                font-size: 16px;
                            }
                            span {
                                font-size: 14px;
                            }
                        }

                        .menu-information {
                            span {
                                font-size: 14px
                            }
                        }
                    }
                }
            }
        }
    }

    .content-menu {
        .container-fluid {
            .tab-content {
                #v-pills-ebaltab {
                    .wrappercontentMenu {
    
                        .contentEbaltab {
                            .wrappercard-statistic {

                                .statisticPengajuan {
                                    padding: 22px 18px;

                                    .heading-card {
                                        h1 {
                                            font-size: 16px;
                                        }
                                    }
    
                                    .body-card {
                                        .totaly-accept {
                                            width: 50%;
                                            p {
                                                font-size: 14px;
                                            }
                                            span {
                                                font-size: 16px;
                                            }
                                        }
                                        .chart-accept {
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :768px) {
    #mainHeader {
        border-radius: 0px 0px 50px 50px;
        .navbar {
            .container-fluid {
                .navbar-brand {
                    img {
                        max-width: 80px;
                    }
                    .brand-title {
                        margin-left: 4px;
                        display: block;
                        h1 {
                            margin-bottom: 4px;
                            letter-spacing: 10px;
                            font-size: 62px;
                        }
                        p {
                            font-size: 9px;
                        }
                    }
                }
                .userControl {
                    .searchBox {
                        .searchInput {
                            font-size: 16px;
    
                            &::placeholder {
                                font-size: 16px;
                            }
                            &.active {
                                width: 150px;
                            }
                        }
                    }
                    ion-icon {
                        margin: 0 .8rem;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .mainMenu {
        .container-fluid {
            .wrapperMainMenu {
                flex-direction: row;

                .rekapMain {
                    padding: 26px 26px;
                    width: 100%;
                    .wrapperRekap {
                        flex-direction: row;
                        justify-content: space-between;
                        .chart {
                            margin-bottom: 0;
                            width: 100%;
                        }

                        .rekap-information {
                            flex-direction: column;
                            width: 40%;
                            justify-content: space-evenly;
                        }
                    }
                }
                .menuButton {
                    width: 100%;
                    margin-left: .5rem;
                    top: -145px;
                    .menu {
                        width: 46%;
                        margin: 6px;
                    }
                }
            }
        }
    }

    .content-menu {
        .container-fluid {
            .tab-content {
                #v-pills-ebaltab {
                    .wrappercontentMenu {

                        .headerTitleMenu {
                            h1 {
                                font-size: 32px;
                            }
                        }
    
                        .contentEbaltab {
                            .wrappercard-statistic {
                                .statisticPengajuan {
                                    padding: 22px 24px;

                                    .heading-card {
                                        h1 {
                                            font-size: 18px;
                                        }
                                    }
    
                                    .body-card {
                                        .totaly-accept {
                                            width: 50%;
                                            span {
                                                font-size: 18px;
                                            }
                                        }
                                        .chart-accept {
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :992px) {
    #mainHeader {
        border-radius: 0px 0px 50px 50px;
        padding: 0 3rem;
        .navbar {
            .container-fluid {
                .navbar-brand {
                    img {
                        max-width: 100px;
                    }
                    .brand-title {
                        margin-left: 4px;
                        display: block;
                        h1 {
                            margin-bottom: 4px;
                            font-size: 72px;
                        }
                        p {
                            font-size: 10px;
                        }
                    }
                }
                .userControl {
                    ion-icon {
                        margin: 0 .8rem;
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .mainMenu {
        padding: 0 3rem;
        .container-fluid {
            .wrapperMainMenu {
                .menuButton {
                    width: 100%;
                    margin-left: .5rem;
                    top: -145px;
                    .menu {
                        width: 47%;
                        margin: 6px;

                        .icon {
                            img {
                                width: 38px;
                            }
                        }
                        .menu-name {
                            h1 {
                                font-size: 18px;
                            }
                            span {
                                font-size: 16px;
                            }
                        }

                        .menu-information {
                            span {
                                font-size: 16px
                            }
                        }
                    }
                }
            }
        }
    }

    .content-menu {
        padding: 0 3rem;
        .container-fluid {
            .tab-content {
                #v-pills-ebaltab {
                    .wrappercontentMenu {
                        
                        .contentEbaltab {
                            .wrappercard-statistic {
                                .statisticPengajuan {
                                    padding: 22px 24px;

                                    .heading-card {
                                        h1 {
                                            font-size: 18px;
                                        }
                                    }
    
                                    .body-card {
                                        .totaly-accept {
                                            width: 50%;
                                            p {
                                                font-size: 16px;
                                            }
                                            span {
                                                font-size: 24px;
                                            }
                                        }
                                        .chart-accept {
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :1200px) {
    #mainHeader {
        height: 400px;
        .navbar {
            .container-fluid {
                .navbar-brand {
                    img {
                        max-width: 120px;
                    }
                    .brand-title {
                        margin-left: 8px;
                        h1 {
                            font-size: 86px;
                            letter-spacing: 11px;
                        }
                        p {
                            font-size: 12px;
                        }
                       
                    }
                }
                .userControl {
                    .searchBox {
                        .searchInput {
                            font-size: 16px;
    
                            &::placeholder {
                                font-size: 16px;
                            }
                            &.active {
                                width: 200px;
                            }
                        }
                    }
                    ion-icon {
                        margin: 0 1rem;
                    }
                }
            }
        }
    }

    .mainMenu {
        padding: 0 3rem;
        .container-fluid {
            .wrapperMainMenu {

                .rekapMain {
                    top: -200px;
                }
                .menuButton {
                    top: -200px;

                    .menu {
                        width: 48%;
                        margin: 8px 4px;
                        padding: 12px 18px;
                    }
                }
            }
        }
    }

    .content-menu {
        .container-fluid {
            .tab-content {
                #v-pills-ebaltab {
                    .wrappercontentMenu {
                        
                        .contentEbaltab {
                            .wrappercard-statistic {

                                .statisticPengajuan {
                                    padding: 22px 24px;

                                    .heading-card {
                                        h1 {
                                            font-size: 18px;
                                        }
                                    }
    
                                    .body-card {
                                        .totaly-accept {
                                            p {
                                                font-size: 16px;
                                            }
                                            span {
                                                font-size: 26px;
                                            }
                                        }
                                        .chart-accept {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :1400px) {
    .mainMenu {
        .container-fluid {
            .wrapperMainMenu {
                .rekapMain {
                    width: 100%;
                }
                .menuButton {
                    width: 100%;

                    .menu {
                        .icon {
                            img {
                                width: 46px;
                            }
                        }
                        .menu-name {
                            h1 {
                                font-size: 24px;
                            }
                            span {
                                font-size: 24px;
                            }
                        }

                        .menu-information {
                            span {
                                font-size: 18px
                            }
                        }
                    }
                }
            }
        }
    }

    .content-menu {
        .container-fluid {
            .tab-content {
                #v-pills-ebaltab {
                    .wrappercontentMenu {
                        
                        .contentEbaltab {
                            .wrappercard-statistic {
                                .statisticPengajuan {
                                    padding: 22px 24px;

                                    .heading-card {
                                        h1 {
                                            font-size: 18px;
                                        }
                                    }
    
                                    .body-card {
                                        .totaly-accept {
                                            p {
                                                font-size: 16px;
                                            }
                                            span {
                                                font-size: 26px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}




