/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
box-shadow: 0px 0px 4px 1px #3E563E;
outline: 0 none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$button-background :#3E563E;
$border : 2px solid #8E8E8E;
$fontsize-card-valueNumber : 28px;

/*------------
Style
------------*/
.authRegister {
    width: 100%;
    .wrapperAuth {
        display: flex;
        .leftBackground {
            height: 100vh;
            background-image: url(../img/authBackground.png),;
            background-repeat: no-repeat;
            background-size: cover;
            width: 60%;
            .gradient {
                width: 100%;
                height: 100vh;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    inset: 0;
                    background: linear-gradient(146.71deg, #3E563E 13.98%, #97BB7D 100.03%);
                    mix-blend-mode: multiply;
                }
    
                .authInformation {
                    height: 100vh;
                    display: flex;
                    color: $white-color;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    position: relative;
                    z-index: 2;
    
                    .title {
                        margin-bottom: 2rem;
                        h1 {
                            font-family: steelfish;
                            font-size: 84px;
                            letter-spacing: 10px;
                            margin-bottom: 8px;
                            span {
                            font-family: steelfish;
                            letter-spacing: 5px;
                            }
                        }
                        p {
                            font-weight: $font-weight500;
                            font-family: 'Poppins', sans-serif;
    
                        }
                    }
    
                    .paragrafInfo {
                        display: flex;
                        justify-content: center;
                        p {
                            max-width: 700px;
                            font-family: 'Poppins', sans-serif;
                            font-weight: $font-weight300;
                        }
                    }
                }
            }
        }
        .rightContent {
            width: 40%;
            display: flex;
            flex-direction: column;
            padding: 64px 84px;
            .headingAuth {
                text-align: center;
                margin-bottom: 42px;

                .tetxtWelcome {
                    color: $button-background;
                    margin-bottom: 16px;

                    .welcome {
                        font-weight: $font-weight900;
                        font-size: 28px;
                    }
                    .nameApps {
                        font-family: steelfish;
                        font-size: 68px;
                        letter-spacing: 10px;
                        font-weight: $font-weight500;

                        .version {
                            font-family: steelfish;
                            letter-spacing: 1px;
                        }
                    }
                }
                
                .patners {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .tni_ad {
                        img {
                            width: 100%;
                            max-width: 75px;
                        }
                    }
                    .bank-btn {
                        img {
                            width: 100%;
                            max-width: 180px;
                        }
                    }
                }
            }

            .mainAuth {
                .notice {
                    text-align: center;
                    p {
                        font-weight: $font-weight500;
                        font-family: 'Poppins', sans-serif;

                    }
                }
                form {
                    font-family: 'Poppins', sans-serif;
                    .inputSection {
                        position: relative;
                        margin: 8px 0;
                        font-family: 'Poppins', sans-serif;
                        .icon-control {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            padding: 0 .8rem;

                            img {
                                max-width: 20px;
                            }
                        }
                        .form-control {
                            width: 100%;
                            padding: .85rem 1rem .85rem 3rem;
                            border: 2px solid #8E8E8E;
                            border-radius: 8px;
                        }
                        .custom-select {
                            font-family: 'Poppins', sans-serif;
                            select {
                            width: 100%;
                            padding: .85rem 1rem .85rem 3rem;
                            border: 2px solid #8E8E8E;
                            margin: 0;
                            color: #000000;
                            font-weight: 600;
                            border-radius: 8px;
                                option {
                                    padding: .85rem;
                                    color: #000000;
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    .register {
                        width: 100%;
                        padding: 18px 18px;
                        background: $button-background;
                        color: $white-color;
                        font-weight: 500;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 0px) {
    .authRegister {
        .wrapperAuth {
            .leftBackground {
                display: none;
            }
            .rightContent {
                width: 100%;
                padding: 2rem 2rem;
            }
        }
    }
}
@media screen and (min-width : 992px) {
    .authRegister {
        .wrapperAuth {
            .leftBackground {
                display: inline-block;
            }
            .rightContent {
                width: 50%;
                padding: 64px 64px;
            }
        }
    }
}

@media screen and (min-width :1200px ) {
    .authRegister {
        .wrapperAuth {
            .leftBackground {
                display: inline-block;
            }
            .rightContent {
                width: 40%;
            }
        }
    }
}

@media screen and (min-width :1400px ) {
    .authRegister {
        .wrapperAuth {
            .rightContent {
                width: 40%;
                padding: 64px 84px;
            }
        }
    }
}