/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'Poppins', sans-serif;
    font-family: steelfish;
    src: url(../../../dist/assets/font/stelfish.ttf);
}
/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

#app {
    #sidebar {
        .sidebar-wrapper {
            .sidebar-header {
                .wrapperLogo {
                    .logo {
                        display: flex;
                        align-items: center;
                        .nameBrand {
                            font-family: 'Poppins', sans-serif;
                            font-weight: 800;
                        }
                    }
                }
            }
            .sidebar-menu {
                .menu {
                    .sidebar-item.active {
                        .sidebar-link {
                            background-image: linear-gradient( 73.1deg,  rgba(34,126,34,1) 8%, rgba(99,162,17,1) 86.9% );
                        }
                    }
                }
            }
        }
    }
}
.SubContentName {
    margin-bottom: 1rem;
}
.contentPart {
    margin-bottom: 2rem;
    h4 {
        margin-bottom: .3rem;
    }
}
.wrapperPageContent {
    display: flex;
}
table {
    width: 100%;
    thead {
        background-image: linear-gradient( 73.1deg,  rgba(34,126,34,1) 8%, rgba(99,162,17,1) 86.9% );
        color: #fff;
        tr {
            th {
                padding: .5rem .5rem;
            }
        }
    }
    tbody {
        background: #fff;
        tr {
            td {
                padding: .5rem .5rem;
                border: 1px solid rgb(193, 193, 193);
                code {
                    background-color: #f9f2f4;
                    padding: 2px 4px;
                    border-radius: 4px;
                    
                }
            }
        }
    }
}
pre {
    padding: 2rem;
    background: #fff;
    border-radius: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    code {
        .token.operator {
            color: #67cdcc;
        }
        .token.function {
            color: #f08d49;
        }
    }
}

.wrapperPageContent {
    .sidebarRight {
        .wrapper-sidebar-right {
            .sidebar-right-title {
                font-weight: 900;
                margin-bottom: 1rem;
            }
            ul {
                padding-left: 0;
                list-style: none;
                li {
                    padding-left: 0;
                    a {
                        color: #25396f;
                        font-weight: 600;
                        font-size: 14px;
                        transition: .3s;
                    }
                    a.current {
                        color: #435ebe;
                        transition: .3s;
                    }
                }
            }
        }
    }
}


@media screen and (min-width : 0px) {
    #app {
        #sidebar {
            .sidebar-wrapper {
                .sidebar-header {
                    .wrapperLogo {
                        .logo {
                            .nameBrand {
                                font-size: 18px;
                                margin-left: .5rem;
                            }
                            img {
                                min-height: 2.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    table {
        thead {
            tr {
                th {
                    font-size: 12px;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 12px;
                }
            }
        }
    }
    .wrapperPageContent {
        flex-direction: column;
        .sidebarRight {
            display: none;
        }
    }
    
}

@media screen and (min-width : 1200px) {
    #app {
        #sidebar {
            .sidebar-wrapper {
                .sidebar-header {
                    .wrapperLogo {
                        .logo {
                            .nameBrand {
                                font-size: 22px;
                            }
                            img {
                                min-height: 3rem;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    
    table {
        thead {
            tr {
                th {
                    font-size: 14px;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 14px;
                    code {
                        
                    }
                }
            }
        }
    }

    .wrapperPageContent {
        flex-direction: row;
        .page-content {
            width: 80%;
            padding: 1rem;
            margin-bottom: 0;
        }
        .sidebarRight {
            width: 20%;
            padding: 1rem;
            min-height: 100%;
            display: block;
            .wrapper-sidebar-right {
                position: sticky;
                top: 0;
                padding: 2rem 0;
            }
        }
    }
}


@media screen and (max-width : 1200px) {
    #app {
        #main {
            padding: 3rem;
            header {
                position: absolute;
                top: 15%;
                left: 0;
                padding: .7rem;
                background-image: linear-gradient( 73.1deg,  rgba(34,126,34,1) 8%, rgba(99,162,17,1) 86.9% );
                a {
                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}