/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: steelfish;
  src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

/*------------
Variables
------------*/
/*------------
Styling
------------*/
#mainHeader {
  background: linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
  position: relative;
  z-index: 1;
}

#mainHeader .navbar .container-fluid .navbar-brand {
  display: flex;
  align-items: center;
  transition: .5s;
}

#mainHeader .navbar .container-fluid .navbar-brand img {
  transition: .5s;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title {
  color: #fff;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
  font-family: steelfish;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
  font-size: 12px;
  letter-spacing: .8px;
  font-weight: 500;
}

#mainHeader .navbar .container-fluid .userControl {
  display: flex;
  align-items: center;
  transition: .5s;
}

#mainHeader .navbar .container-fluid .userControl .searchBox {
  display: flex;
  align-items: center;
  background: transparent;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchIcon {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
  border: none;
  width: 0px;
  transition: .5s;
  background: transparent;
  color: #fff;
  font-weight: 500;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
  color: #fff;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
  width: 200px;
  transition: width .5s;
  border-bottom: 2px solid #fff;
}

#mainHeader .navbar .container-fluid .userControl ion-icon {
  color: #fff;
}

#mainHeader .navbar .container-fluid .userControl .dropdown {
  margin: 0 .8rem;
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-toggle {
  background: none;
  border: none;
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-toggle::after {
  display: none;
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-toggle img {
  max-width: 40px;
  border-radius: 50%;
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-menu {
  left: -110px;
  border-radius: 8px;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  font-weight: 500;
}

.mainMenu {
  position: relative;
  z-index: 2;
}

.mainMenu .container-fluid .wrapperMainMenu {
  display: flex;
  position: relative;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain {
  display: flex;
  background: #fff;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .headerRekap p {
  font-weight: 500;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap {
  display: flex;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information {
  display: flex;
  position: relative;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information {
  position: relative;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information::before {
  content: '';
  position: absolute;
  display: block;
  background: red;
  border-radius: 50%;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information h1 {
  font-weight: 700;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-aktif::before {
  background: #A2A846;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-pensiun::before {
  background: #587350;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .chart {
  max-width: 500px;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton {
  display: flex;
  flex-wrap: wrap;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
  background: #fff;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
  font-weight: 700;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
  font-weight: 500;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information {
  display: flex;
  justify-content: space-between;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information .currency {
  font-weight: 500;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information .bank-interest {
  color: #32B404;
  font-weight: 500;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .nav-link {
  color: #3B4E63;
}

.content-menu {
  position: relative;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .headerTitleContent {
  margin-bottom: 2rem;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .headerTitleContent h1 {
  font-weight: 700;
  color: #3B4E63;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .buttonMenuInContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .buttonMenuInContent .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: .8rem 1rem;
  padding: 2rem 2rem;
  width: 20%;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .buttonMenuInContent .menu .icon {
  margin-bottom: 1.5rem;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .buttonMenuInContent .menu .icon img {
  width: 100%;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .buttonMenuInContent .menu .nameMenuContent {
  color: #3E3C3C;
  font-weight: 500;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .buttonMenuInContent .active {
  background: #DDDDDD;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .slick-list {
  width: 100%;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon {
  width: 100%;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon img {
  max-width: 210px;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .chartSubmission {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .chartSubmission canvas {
  width: 100%;
  max-width: 350px;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission p {
  font-weight: 500;
  text-align: center;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission p span {
  color: #DC3545;
  font-weight: 700;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .month {
  font-weight: 400;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .buttonSync button {
  border: none;
  background: #DC3545;
  padding: 8px 33px;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran {
  margin-bottom: 1rem;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik {
  background: #fff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik h1 {
  font-weight: 500;
  color: #3E3C3C;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik p {
  color: #3E3C3C;
  font-weight: 700;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart {
  display: flex;
  position: relative;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .chart canvas {
  width: 100%;
  max-width: 350px;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .arrowIcon {
  position: absolute;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle {
  margin-bottom: 1rem;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle h1 {
  font-size: 24px;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData {
  width: 100%;
  display: flex;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .chart canvas {
  width: 100%;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart {
  display: flex;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart {
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart::before {
  content: '';
  display: block;
  border-radius: 50%;
  background: red;
  position: absolute;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .jumlahPengajuan::before {
  background: #FF832A;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .danaAlokasi::before {
  background: #7334FF;
}

.content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .danaPenyaluran::before {
  background: #DC3545;
}

footer {
  box-shadow: rgba(149, 157, 165, 0.2) 0px -10px 24px;
  padding: 3rem 0;
  text-align: center;
  font-weight: 400;
}

/*============
Responsive Mobile and Desktop
============*/
@media screen and (min-width: 0px) {
  #mainHeader {
    border-radius: 0px 0px 50px 50px;
    height: 300px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 70px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 0px;
    display: none;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
    width: 100px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 .5rem;
    font-size: 16px;
  }
  .mainMenu .container-fluid .wrapperMainMenu {
    flex-direction: column;
    align-items: center;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain {
    position: relative;
    flex-direction: column;
    top: -150px;
    width: 90%;
    padding: 26px 12px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .headerRekap {
    margin-bottom: 1rem;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap {
    flex-direction: column;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .chart {
    margin-bottom: 3rem;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information {
    flex-direction: row;
    justify-content: space-around;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information::before {
    height: 12px;
    width: 12px;
    left: -20px;
    top: 2px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information h1 {
    font-size: 14px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information p {
    font-size: 12px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    position: relative;
    top: -110px;
    justify-content: space-between;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    margin: 6px 6px 12px 6px;
    padding: 12px 12px;
    width: 45%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon {
    margin-bottom: 12px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon img {
    width: 32px;
    height: 52px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name {
    margin-bottom: 6px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
    font-size: 14px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
    font-size: 12px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information span {
    font-size: 12px;
  }
  .content-menu {
    top: -70px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .headerTitleContent h1 {
    font-size: 24px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission {
    justify-content: center;
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission {
    margin: 1rem 1rem;
    padding: 2.5rem 2rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon {
    margin-bottom: 1rem;
    width: 40%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon img {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .chartSubmission {
    width: 70%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission p {
    font-size: 14px;
    margin-bottom: .3rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .month {
    font-size: 14px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .buttonSync {
    margin-top: .5rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .buttonSync button {
    font-size: 14px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik {
    width: 100%;
    padding: 1rem 1rem;
    align-items: center;
    flex-direction: column-reverse;
    margin: .8rem 5px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik {
    text-align: center;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik h1 {
    font-weight: 500;
    color: #3E3C3C;
    font-size: 12px;
    margin-bottom: .3rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik p {
    color: #3E3C3C;
    font-weight: 700;
    font-size: 12px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart {
    width: 100%;
    margin-bottom: 1rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .chart canvas {
    width: 100%;
    max-width: 350px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .arrowIcon {
    right: 0;
    top: -10px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .arrowIcon img {
    max-width: 10px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData {
    padding: 2rem 1rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle {
    margin-bottom: 1rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle h1 {
    font-size: 18px;
    color: #3E3C3C;
    font-weight: 700;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData {
    width: 100%;
    flex-direction: column;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .chart {
    width: 100%;
    margin-bottom: 1rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart {
    font-size: 14px;
    margin: 0 .5rem;
    text-align: center;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart::before {
    height: 10px;
    width: 10px;
    left: -15px;
  }
  footer {
    padding: 2rem 0;
  }
  footer p {
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) {
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information::before {
    left: -25px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information h1 {
    font-size: 16px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information p {
    font-size: 14px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    width: 47%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon img {
    width: 36px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
    font-size: 16px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
    font-size: 14px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information span {
    font-size: 14px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik {
    padding: 2rem 1rem;
    margin: .8rem 10px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik h1 {
    font-size: 14px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik p {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  #mainHeader {
    border-radius: 0px 0px 50px 50px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 80px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 4px;
    display: block;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    margin-bottom: 4px;
    letter-spacing: 10px;
    font-size: 62px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
    font-size: 9px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
    width: 150px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 .8rem;
    font-size: 18px;
  }
  .mainMenu .container-fluid .wrapperMainMenu {
    flex-direction: row;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain {
    padding: 26px 26px;
    width: 100%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap {
    flex-direction: row;
    justify-content: space-between;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .chart {
    margin-bottom: 0;
    width: 100%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information {
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    width: 100%;
    margin-left: .5rem;
    top: -145px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    width: 46%;
    margin: 6px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .headerTitleContent h1 {
    font-size: 32px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon {
    margin-bottom: 1.5rem;
    width: 40%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon img {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .chartSubmission {
    width: 70%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission p {
    font-size: 14px;
    margin-bottom: .5rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .month {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .buttonSync button {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle h1 {
    font-size: 22px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart::before {
    height: 10px;
    width: 10px;
    left: -20px;
  }
}

@media screen and (min-width: 992px) {
  #mainHeader {
    border-radius: 0px 0px 50px 50px;
    padding: 0 3rem;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 100px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 4px;
    display: block;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    margin-bottom: 4px;
    font-size: 72px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
    font-size: 10px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 .8rem;
    font-size: 22px;
  }
  .mainMenu {
    padding: 0 3rem;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    width: 100%;
    margin-left: .5rem;
    top: -145px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    width: 47%;
    margin: 6px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon img {
    width: 38px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
    font-size: 18px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
    font-size: 16px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information span {
    font-size: 16px;
  }
  .content-menu {
    padding: 0 3rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission {
    justify-content: space-between;
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon {
    margin-bottom: 1.5rem;
    width: 60%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon img {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .chartSubmission {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik {
    flex-direction: row;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik {
    width: 100%;
    text-align: start;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik h1 {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik p {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .arrowIcon {
    top: -15px;
    right: 10px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle h1 {
    font-size: 22px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData {
    flex-direction: row;
    align-items: center;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .chart {
    width: 80%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart {
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    padding-left: 2rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart {
    font-size: 16px;
    text-align: start;
    margin: .5rem 0;
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart::before {
    height: 12px;
    width: 12px;
    left: -25px;
  }
}

@media screen and (min-width: 1200px) {
  #mainHeader {
    height: 400px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 120px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 8px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    font-size: 86px;
    letter-spacing: 11px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
    width: 200px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 1rem;
  }
  .mainMenu {
    padding: 0 3rem;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain {
    top: -200px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    top: -200px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    width: 48%;
    margin: 8px 4px;
    padding: 12px 18px;
  }
  .content-menu {
    top: -120px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission p {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .month {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .chartSubmission {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik {
    padding: 2rem 2rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik h1 {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik p {
    font-size: 22px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .arrowIcon {
    top: 0px;
    right: 10px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .arrowIcon img {
    max-width: 15px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData {
    padding: 2rem 3rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle {
    margin-bottom: 2rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle h1 {
    font-size: 24px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart::before {
    height: 15px;
    width: 15px;
    left: -25px;
  }
  footer {
    padding: 2.5rem 0;
  }
  footer p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain {
    width: 100%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    width: 100%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon img {
    width: 46px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
    font-size: 24px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
    font-size: 24px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information span {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon {
    margin-bottom: 2.5rem;
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .icon img {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission p {
    font-size: 24px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .month {
    font-size: 20px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperSubmission .submission .chartSubmission {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik {
    padding: 2rem 3rem;
    margin: 1.2rem 0px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik:not(:last-child) {
    margin-right: 42px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik h1 {
    font-size: 22px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .infoStatisctik p {
    font-size: 26px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart {
    width: 100%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .arrowIcon {
    top: 0px;
    right: 10px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperDanaAlokasiDanPenyaluran .parentStatistic .statistik .wrapperChart .arrowIcon img {
    max-width: 15px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData {
    padding: 2rem 3rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle {
    margin-bottom: 3rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .headerTitle h1 {
    font-size: 28px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .chart {
    width: 80%;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart {
    width: 20%;
    padding-left: 5rem;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart {
    font-size: 22px;
  }
  .content-menu .container-fluid .tab-content .tab-pane .wrappercontentMenu .bodyContent .tab-content .tab-pane .wrapperAllData .bodyData .informasiChart .SymbolChart::before {
    height: 20px;
    width: 20px;
    left: -40px;
  }
}
/*# sourceMappingURL=dashboard.css.map */