/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: steelfish;
  src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

/*------------
Variables
------------*/
/*------------
Styling
------------*/
#mainHeader {
  background: linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
  position: relative;
  z-index: 1;
}

#mainHeader .navbar .container-fluid .navbar-brand {
  display: flex;
  align-items: center;
  transition: .5s;
}

#mainHeader .navbar .container-fluid .navbar-brand img {
  transition: .5s;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title {
  color: #fff;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
  font-family: steelfish;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
  font-size: 12px;
  letter-spacing: .8px;
  font-weight: 500;
}

#mainHeader .navbar .container-fluid .userControl {
  display: flex;
  align-items: center;
  transition: .5s;
}

#mainHeader .navbar .container-fluid .userControl .searchBox {
  display: flex;
  align-items: center;
  background: transparent;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchIcon {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
  border: none;
  width: 0px;
  transition: .5s;
  background: transparent;
  color: #fff;
  font-weight: 500;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
  color: #fff;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
  width: 200px;
  transition: width .5s;
  border-bottom: 2px solid #fff;
}

#mainHeader .navbar .container-fluid .userControl ion-icon {
  color: #fff;
}

#mainHeader .navbar .container-fluid .userControl .dropdown {
  margin: 0 .8rem;
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-toggle {
  background: none;
  border: none;
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-toggle::after {
  display: none;
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-toggle img {
  max-width: 40px;
  border-radius: 50%;
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-menu {
  left: -110px;
  border-radius: 8px;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
}

#mainHeader .navbar .container-fluid .userControl .dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  font-weight: 500;
}

.mainMenu {
  position: relative;
  z-index: 2;
}

.mainMenu .container-fluid .wrapperMainMenu {
  display: flex;
  position: relative;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain {
  display: flex;
  background: #fff;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .headerRekap p {
  font-weight: 500;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap {
  display: flex;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information {
  display: flex;
  position: relative;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information {
  position: relative;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information::before {
  content: '';
  position: absolute;
  display: block;
  background: red;
  border-radius: 50%;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information h1 {
  font-weight: 700;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-aktif::before {
  background: #A2A846;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-pensiun::before {
  background: #587350;
}

.mainMenu .container-fluid .wrapperMainMenu .rekapMain .chart {
  max-width: 500px;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton {
  display: flex;
  flex-wrap: wrap;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
  background: #fff;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
  font-weight: 700;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
  font-weight: 500;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information {
  display: flex;
  justify-content: space-between;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information .currency {
  font-weight: 500;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information .bank-interest {
  color: #32B404;
  font-weight: 500;
}

.mainMenu .container-fluid .wrapperMainMenu .menuButton .nav-link {
  color: #3B4E63;
}

.content-menu {
  position: relative;
  top: -70px;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .headerTitleMenu {
  margin-bottom: 2rem;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .headerTitleMenu h1 {
  font-weight: 700;
  color: #3B4E63;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card h1 {
  font-weight: 700;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card ion-icon {
  transform: rotate(-40deg);
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept {
  color: #3B4E63;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept p {
  font-weight: 500;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept span {
  font-weight: 700;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi {
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .headerDataAlokasi p {
  font-weight: 500;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi {
  display: flex;
  align-items: center;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi {
  position: relative;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .danaAlokasi-informasi::before {
  content: '';
  position: absolute;
  display: block;
  background: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .danaAlokasi-informasi h1 {
  font-weight: 700;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .jumlahDana::before {
  background: #7334FF;
}

.content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .danaTeralisasi::before {
  background: #FF832B;
}

/*============
Responsive Mobile and Desktop
============*/
@media screen and (min-width: 0px) {
  #mainHeader {
    border-radius: 0px 0px 50px 50px;
    height: 300px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 70px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 0px;
    display: none;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
    width: 100px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 .5rem;
    font-size: 16px;
  }
  .mainMenu .container-fluid .wrapperMainMenu {
    flex-direction: column;
    align-items: center;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain {
    position: relative;
    flex-direction: column;
    top: -150px;
    width: 90%;
    padding: 26px 12px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .headerRekap {
    margin-bottom: 1rem;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap {
    flex-direction: column;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .chart {
    margin-bottom: 3rem;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information {
    flex-direction: row;
    justify-content: space-around;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information::before {
    height: 12px;
    width: 12px;
    left: -20px;
    top: 2px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information h1 {
    font-size: 14px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information p {
    font-size: 12px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    position: relative;
    top: -110px;
    justify-content: space-between;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    margin: 6px 6px 12px 6px;
    padding: 12px 12px;
    width: 45%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon {
    margin-bottom: 12px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon img {
    width: 32px;
    height: 52px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name {
    margin-bottom: 6px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
    font-size: 14px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
    font-size: 12px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information span {
    font-size: 12px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .headerTitleMenu h1 {
    font-size: 24px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic {
    margin-bottom: .5rem;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan {
    padding: 14px 14px;
    margin: 1.5rem 12px;
    width: 100%;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card {
    margin-bottom: 8px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card h1 {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept {
    width: 60%;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept p {
    font-size: 12px;
    margin-bottom: .85rem;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept span {
    font-size: 14px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .chart-accept {
    width: 40%;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi {
    position: relative;
    flex-direction: column;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .headerDataAlokasi {
    padding: 2rem 1.5rem 1rem 1.5rem;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .headerDataAlokasi p {
    font-weight: 500;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi {
    flex-direction: column;
    padding: 1rem 3rem 2rem 3rem;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .chart {
    width: 100%;
    margin-bottom: 2rem;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .danaAlokasi-informasi {
    flex-direction: column;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .danaAlokasi-informasi::before {
    content: '';
    position: absolute;
    display: block;
    background: red;
    border-radius: 50%;
    height: 12px;
    width: 12px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .danaAlokasi-informasi h1 {
    font-weight: 700;
    font-size: 14px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .danaAlokasi-informasi p {
    font-size: 12px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .jumlahDana {
    position: relative;
    margin-bottom: 1rem;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .jumlahDana::before {
    background: #7334FF;
    left: -20px;
    top: 2px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .danaTeralisasi {
    position: relative;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrapperDataAlokasi .statisticDataAlokasi .alokasiData-informasi .danaTeralisasi::before {
    background: #FF832B;
    left: -20px;
    top: 2px;
  }
}

@media screen and (min-width: 375px) {
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan {
    padding: 14px 14px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card {
    margin-bottom: 4px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card h1 {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept {
    width: 50%;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept p {
    font-size: 14px;
    margin-bottom: .85rem;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept span {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .chart-accept {
    width: 50%;
  }
}

@media screen and (min-width: 576px) {
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information::before {
    left: -25px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information h1 {
    font-size: 16px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information .prajurit-information p {
    font-size: 14px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    width: 47%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon img {
    width: 36px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
    font-size: 16px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
    font-size: 14px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information span {
    font-size: 14px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan {
    padding: 22px 18px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card h1 {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept {
    width: 50%;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept p {
    font-size: 14px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept span {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .chart-accept {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  #mainHeader {
    border-radius: 0px 0px 50px 50px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 80px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 4px;
    display: block;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    margin-bottom: 4px;
    letter-spacing: 10px;
    font-size: 62px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
    font-size: 9px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
    width: 150px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 .8rem;
    font-size: 18px;
  }
  .mainMenu .container-fluid .wrapperMainMenu {
    flex-direction: row;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain {
    padding: 26px 26px;
    width: 100%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap {
    flex-direction: row;
    justify-content: space-between;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .chart {
    margin-bottom: 0;
    width: 100%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain .wrapperRekap .rekap-information {
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    width: 100%;
    margin-left: .5rem;
    top: -145px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    width: 46%;
    margin: 6px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .headerTitleMenu h1 {
    font-size: 32px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan {
    padding: 22px 24px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card h1 {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept {
    width: 50%;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept span {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .chart-accept {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  #mainHeader {
    border-radius: 0px 0px 50px 50px;
    padding: 0 3rem;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 100px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 4px;
    display: block;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    margin-bottom: 4px;
    font-size: 72px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
    font-size: 10px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 .8rem;
    font-size: 22px;
  }
  .mainMenu {
    padding: 0 3rem;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    width: 100%;
    margin-left: .5rem;
    top: -145px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    width: 47%;
    margin: 6px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon img {
    width: 38px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
    font-size: 18px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
    font-size: 16px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information span {
    font-size: 16px;
  }
  .content-menu {
    padding: 0 3rem;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan {
    padding: 22px 24px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card h1 {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept {
    width: 50%;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept p {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept span {
    font-size: 24px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .chart-accept {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  #mainHeader {
    height: 400px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 120px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 8px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    font-size: 86px;
    letter-spacing: 11px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
    width: 200px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 1rem;
  }
  .mainMenu {
    padding: 0 3rem;
  }
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain {
    top: -200px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    top: -200px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu {
    width: 48%;
    margin: 8px 4px;
    padding: 12px 18px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan {
    padding: 22px 24px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card h1 {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept p {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept span {
    font-size: 26px;
  }
}

@media screen and (min-width: 1400px) {
  .mainMenu .container-fluid .wrapperMainMenu .rekapMain {
    width: 100%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton {
    width: 100%;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .icon img {
    width: 46px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name h1 {
    font-size: 24px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-name span {
    font-size: 24px;
  }
  .mainMenu .container-fluid .wrapperMainMenu .menuButton .menu .menu-information span {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan {
    padding: 22px 24px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .heading-card h1 {
    font-size: 18px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept p {
    font-size: 16px;
  }
  .content-menu .container-fluid .tab-content #v-pills-ebaltab .wrappercontentMenu .contentEbaltab .wrappercard-statistic .statisticPengajuan .body-card .totaly-accept span {
    font-size: 26px;
  }
}
/*# sourceMappingURL=dashboard.css.map */