/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/
.mainContent {
    .container-fluid {
        .wrapperContent {
            .wrapperRekapData {
                .wrapperContentRekapData {
                    display: flex;
                    align-items: center;
                    .wrapperRekapDataPerbulan {
                        background: #FFFFFF;
                        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
                        border-radius: 15px;
                        width: 100%;
                        .headerData {
                            margin-bottom: 2rem;
                        }

                        .contentData {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .wrapperChart {
                                canvas {
                                    width: 100%;
                                    max-width: 250px;
                                }
                            }

                            .wrapperInfoChart {
                                position: relative;
                                .label {
                                    .nameLabel {
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                    .containerDebitur {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        .wrapperDebitur {
                            display: flex;
                            .debitur {
                                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                                border-radius: 16px;
                                display: flex;
                                align-items: center;
                                position: relative;
                                width: 100%;
                                .wrapperChart {
                                    canvas {
                                        width: 100%;
                                    }
                                }
                                .wrapperArrow {
                                    position: absolute;
                                }
                            }
                        }
                    }
                }
                .titleRekapDataMassdebet {

                }
                .wrapperDataMassDebet {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    .statistic {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        width: 100%;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
                        border-radius: 15px;
                        .wrapperIcon {
                            margin-bottom: 1.5rem;
                            canvas {
                                width: 100%;
                            }
                            img {
                                width: 100%;
                            }

                            .wrapperArrow {
                                position: absolute;
                                right: 0;
                            }
                        }
                        .label {
                            .nameLabel {
                                font-weight:500;
                            }
                            .value {
                                font-weight: 700;
                            }
                        }
                    }
                }

                .wrapperRekapPenerimaan,.wrapperRekapPiutang {
                    width: 100%;
                    .nameContentSection {
                    }
                    .wrapperStatistic {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        .statisticPenerimaan, .statisticPiutang {
                            display: flex;
                            position: relative;
                            align-items: center;
                            width: 100%;
                            background: #FFFFFF;
                            box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                            border-radius: 15px;
                            .label {
                            }
                            .wrapperChart {
                                canvas {
                                    width: 100%;
                                }
                                .wrapperArrow {
                                    position: absolute;
                                    right: 0;
                                }
                            }
                        }
                    }
                }

            }
            .rekapMassDebetBRI ,.rekapMassDebetBTN {
                background: #FFFFFF;
                padding: 2rem;
                box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
                border-radius: 15px;
            }
        }
    }
}

.wrapperChart {
    display: flex;
}

@media screen and (min-width : 0px) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .wrapperRekapData {
                    margin-bottom: 1.5rem;
                    .wrapperContentRekapData {
                        flex-direction: column;
                        .wrapperRekapDataPerbulan {
                            padding: 2rem 1rem;
                            margin-bottom:1rem;
                            .headerData {
                                font-size: 18px;
                            }
    
                            .contentData {
                                flex-direction: column;
                                .wrapperChart {
                                    margin-bottom: 1.5rem;
                                    canvas {
                                        max-width: 200px;
                                    }
                                }
    
                                .wrapperInfoChart {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    align-items: flex-start;
                                    .label {
                                        margin-left: 1rem;
                                        &:not(:last-child) {
                                            margin-bottom: 1rem;
                                        }
                                        .nameLabel {
                                            font-size: 16px;
                                            margin-bottom: .5rem;
                                        }
                                        .value {
                                            font-size: 12px;
                                            font-weight: 500;
                                        }

                                        &::before {
                                            content: '';
                                            display: inline-block;
                                            height: 10px;
                                            position: absolute;
                                            width: 10px;
                                            left: 0;
                                            border-radius: 50%;
                                            transform: translate(-50%,100%);
                                        }
                                    }

                                    .totalPokok {
                                        &::before {
                                            background: #FF832A;
                                        }
                                    }

                                    .totalBunga {
                                        &::before {
                                            background: #7334FF;
                                        }
                                    }
                                }
                            }
                        }
                        .containerDebitur {
                            .wrapperDebitur {
                                .debitur {
                                    padding: 1rem .8rem;
                                    margin: .5rem 0;
                                    flex-direction: column-reverse;
                                    &:not(:last-child) {
                                        margin-right: 1rem;
                                    }
                                    .contentDebitur {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        width: 100%;
                                        .labelName {
                                            font-size: 14px;
                                            font-weight: 700;
                                        }
                                        .value {
                                            font-size: 12px;
                                        }
                                        .month {
                                            font-size: 12px;
                                        }
                                    }
                                    .wrapperChart {
                                        margin-bottom: 1rem;
                                        canvas {
                                            max-width: 80px;
                                        }
                                    }
                                    .wrapperArrow {
                                        right: 10px;
                                        top: 10px;
                                        img {
                                            max-width: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    .titleRekapDataMassdebet {
                        font-size: 22px;
                        margin-bottom: 1rem;
                    }
                    .wrapperDataMassDebet {
                        .slick-list {
                            padding: 0;
                            width: 100%;
                            .slick-track {
                                display: flex;
                                align-items: center;
                            }
                        }
                        .draggable {
                        }
                        .statistic {
                            width: 100%;
                            padding: 2rem 1rem;
                            margin: 1rem 1rem;
                            .wrapperIcon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                canvas {
                                    max-width: 90px;
                                }
                                img {
                                    max-width: 100px;
                                }
                                .wrapperArrow {
                                    right: 20px;
                                    top: 20px;
                                    img {
                                        max-width: 15px;
                                    }
                                }
                            }

                            .label {
                                width: 100%;
                                .nameLabel {
                                    font-size: 12px;
                                }
                                .value {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .wrapperRekapPenerimaan,.wrapperRekapPiutang {
                        margin: 1rem 0;
                        .wrapperStatistic {
                            .statisticPenerimaan, .statisticPiutang {
                                margin: 1rem;
                                padding: 2rem 1rem;
                                max-height: 150px;
                                .label {
                                    margin-right: 1rem;
                                    width: 50%;
                                    .nameLabel {
                                        font-size: 12px;
                                        font-weight: 500;
                                    }
                                    .value {
                                        font-size: 12px;
                                        display: flex;
                                    }
                                    font-weight: 700;
                                }
                                .wrapperChart {
                                    width: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    canvas {
                                        width: 100%;
                                        max-width: 70px;
                                    }
                                    .wrapperArrow {
                                        right: 15px;
                                        top: 15px;
                                        img {
                                            max-width: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .wrapperDetailData {
                        .nameContentSection {
                            margin-bottom: 2rem;
                        }
                        .wrapperTable {
                            table {
                                .headTable {
                                    background: #7334FF;
                                    tr {
                                        th {
                                            &:first-child {
                                                border-radius: 6px 0 0px 6px;
                                            }
                                            &:last-child {
                                                border-radius: 0px 6px 6px 0px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .rekapMassDebetBRI ,.rekapMassDebetBTN {
                    padding: 2rem 1rem;
                }
            }
        }
    }

    .nameContentSection {
        font-size: 16px;
    }
}


@media screen and (min-width :576px ) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .wrapperRekapData {
                    .wrapperContentRekapData {
                        .wrapperRekapDataPerbulan {
                            padding: 2rem;
                            .contentData {
                                .wrapperInfoChart {
                                    .label {
                                        .nameLabel {
                                            font-size: 18px;
                                        }
                                        .value {
                                            font-size: 14px;
                                        }
                                        &::before {
                                            height: 15px;
                                            width: 15px;
                                        }
                                    }
                                }
                            }
                        }
                        .containerDebitur {
                            .wrapperDebitur {
                                .debitur {
                                    padding: 1.5rem;
                                    .contentDebitur {
                                        .labelName {
                                            font-size: 16px;
                                            font-weight: 500;
                                        }
                                        .value {
                                            font-size: 14px;
                                            font-weight: 700;
                                            margin-bottom: .5rem;
                                        }
                                        .month {
                                            font-size: 12px;
                                            font-weight: 500;
                                        }
                                    }
                                    .wrapperChart {
                                        margin-bottom: 1rem;
                                        canvas {
                                            max-width: 150px;
                                        }
                                    }
                                    .wrapperArrow {
                                        right: 20px;
                                        top: 10px;
                                        img {
                                            max-width: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .wrapperRekapPenerimaan,.wrapperRekapPiutang {
                        .nameContentSection {
                        }
                        .wrapperStatistic {
                            .slick-list {
                                width: 100%;
                            }
                            .statisticPenerimaan, .statisticPiutang {
                                max-height: 180px;
                                .label {
                                    .nameLabel {
                                        font-size: 14px;
                                    }
                                    .value {
                                        font-size: 16px;
                                    }
                                }
                                .wrapperChart {
                                    width: 50%;
                                    canvas {
                                        max-width: 120px;
                                    }
                                    .wrapperArrow {
                                        img {
                                            max-width: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}





@media screen and (min-width : 1024px) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .wrapperRekapData {
                    .wrapperContentRekapData {
                        flex-direction: row;
                        .wrapperRekapDataPerbulan {
                            margin-bottom: 0;
                            margin-right: 1.5rem;
                            .contentData {
                                flex-direction: row;
                                justify-content: space-between;
                                .wrapperChart {
                                    margin-bottom: 0;
                                    canvas {
                                        max-width: 200px;
                                    }
                                }
                                .wrapperInfoChart {
                                    width: 40%;
                                }
                            }
                        }
                        .containerDebitur {
                            .wrapperDebitur {
                                .debitur {
                                    .wrapperChart {
                                        margin-bottom: 1rem;
                                        canvas {
                                            max-width: 100px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .rekapMassDebetBRI ,.rekapMassDebetBTN {
                    padding: 2rem;
                }
            }
        }
    }
}
@media screen and (min-width :1200px) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .wrapperRekapData {
                    .wrapperContentRekapData {
                        flex-direction: row;
                        .containerDebitur {
                            .wrapperDebitur {
                                .debitur {
                                    flex-direction: row;
                                    align-items: center;
                                    .contentDebitur {
                                        width: 70%;
                                    }
                                    .wrapperChart {
                                        width: 30%;
                                        margin-bottom: 0rem;
                                        canvas {
                                            max-width:200px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .wrapperDataMassDebet {
                        .statistic {
                            min-height: 300px;
                            .wrapperIcon {
                                canvas {
                                    max-width: 150px;
                                }
                                img {
                                    max-width: 180px;
                                }
                            }

                            .label {
                                .nameLabel {
                                    font-size: 12px;
                                }
                                .value {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width : 1400px) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .wrapperRekapData {
                    .wrapperContentRekapData {
                        flex-direction: row;
                        .wrapperRekapDataPerbulan {
                            margin-bottom: 0;
                            margin-right: 1.5rem;
                            padding: 3rem;
                            .headerData {
                                font-size: 26px;
                            }
                            .contentData {
                                flex-direction: row;
                                justify-content: space-between;
                                .wrapperChart {
                                    margin-bottom: 0;
                                    canvas {
                                        max-width: 250px;
                                    }
                                }

                                .wrapperInfoChart {
                                    width: 40%;
                                    .label {
                                        &:not(:last-child) {
                                            margin-bottom: 2rem;
                                        }
                                        .nameLabel {
                                            font-size: 24px;
                                        }
                                        .value {
                                            font-size: 16px;
                                        }
                                        &::before {
                                            height: 15px;
                                            width: 15px;
                                        }
                                    }
                                }
                                
                            }
                        }

                        .containerDebitur {
                            .wrapperDebitur {
                                .debitur {
                                    .contentDebitur {
                                        width: 60%;
                                    }
                                    .wrapperChart {
                                        width: 40%;
                                        margin-bottom: 0rem;
                                        canvas {
                                            max-width:130px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .wrapperDataMassDebet {
                        .statistic {
                            .wrapperIcon {
                                canvas {
                                    max-width: 180px;
                                }
                                img {
                                    max-width: 200px;
                                }
                            }

                            .label {
                                .nameLabel {
                                    font-size: 16px;
                                }
                                .value {
                                    font-size: 18px;
                                }
                            }
                        }
                    }

                    .wrapperRekapPenerimaan,.wrapperRekapPiutang {
                        
                        .wrapperStatistic {
                            .statisticPenerimaan, .statisticPiutang {
                                padding: 2rem 3rem;
                                max-height: 300px;
                                .label {
                                    .nameLabel {
                                        font-size: 16px;
                                    }
                                    .value {
                                        font-size: 18px;
                                    }
                                }
                                .wrapperChart {
                                    canvas {
                                        max-width: 180px;
                                    }
                                    .wrapperArrow {
                                        img {
                                            max-width: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .rekapMassDebetBRI ,.rekapMassDebetBTN {
                    padding: 3rem;
                }
            }
        }
    }
    .nameContentSection {
        font-size: 22px;
    }
}


@media screen and (min-width :1800px) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .wrapperRekapData {
                    .wrapperContentRekapData {
                        .wrapperRekapDataPerbulan {
                            .headerData {
                                font-size: 26px;
                            }
                            .contentData {
                                .wrapperInfoChart {
                                    .label {
                                        .nameLabel {
                                            font-size: 24px;
                                        }
                                        .value {
                                            font-size: 16px;
                                        }
                                        &::before {
                                            height: 15px;
                                            width: 15px;
                                        }
                                    }
                                }
                                
                            }
                        }

                        .containerDebitur {
                            .wrapperDebitur {
                                .debitur {
                                    .contentDebitur {
                                        .labelName {
                                            font-size: 18px;
                                        }
                                        .value {
                                            font-size: 16px;
                                        }
                                        .month {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .wrapperRekapPenerimaan,.wrapperRekapPiutang {
                        .nameContentSection {
                        }
                        .wrapperStatistic {
                            .statisticPenerimaan, .statisticPiutang {
                                padding: 2rem 3rem;
                                .label {
                                    .nameLabel {
                                        font-size: 18px;
                                    }
                                    .value {
                                        font-size: 22px;
                                    }
                                }
                                .wrapperChart {
                                    canvas {
                                        max-width: 200px;
                                    }
                                    .wrapperArrow {
                                        top: 20px;
                                        right: 20px;
                                        img {
                                            max-width: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


