/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/


#mainHeader {
    height: 100%;
}

.mainContent {
    .container-fluid {
        .tab-content {
            .tab-pane {
                .wrapperDataSummary {
                    display: flex;
                    .data {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        background-color: $white-color;
                        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
                        border-radius: 15px;
                        width: 100%;
                        .arrow {
                            position: absolute;
                        }
                        .icon {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }
                        .wrapperChart {
                            canvas {
                                width: 100%;
                            }
                        }
                        .titleData {
                            font-size: 18px;
                            text-align: center;

                            .valueData {
                                color: #DC3545;
                            }
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 0px) {
    #mainHeader {
    }

    .mainContent {
        .container-fluid {
            .tab-content {
                .tab-pane {
                    .wrapperDataSummary {
                        .data {
                            margin: 1rem 1rem;
                            padding: 2rem 2rem;
                            position: relative;
                            .arrow {
                                right: 10%;
                                top: 10%;
                                img {
                                    max-width: 15px;
                                }
                            }
                            .icon {
                                margin-bottom: 2rem;
                                img {
                                    max-width: 120px;
                                }
                            }
                            .wrapperChart {
                                max-width: 110px;
                            }
                            .titleData {
                                font-size: 14px;
                            }
                            .btnStyle {
                                margin-top: .5rem;
                            }
                            p {
                                font-size: 12px;
                                margin-top: .3rem;
                                .month {
                                    margin-right: .2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :992px) {
    .mainContent {
        padding: 0 3rem;
        .container-fluid {
            .tab-content {
                .tab-pane {
                    .wrapperDataSummary {
                        justify-content: center;
                        .data {
                            .icon {
                                img {
                                    max-width: 150px;
                                }
                            }
                            .wrapperChart {
                                max-width: 135px;
                            }
                            .titleData {
                                font-size: 14px;
    
                            }
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1200px) {
    #mainHeader {
    }
    .mainContent {
        .container-fluid {
            .tab-content {
                .tab-pane {
                    .wrapperDataSummary {
                        .data {
                            .icon {
                                img {
                                    max-width: 160px;
                                }
                            }
                            .wrapperChart {
                                max-width: 140px;
                            }
                            .titleData {
                                font-size: 18px;
                            }
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1400px) {
    .mainContent {
        .container-fluid {
            .tab-content {
                .tab-pane {
                    .wrapperDataSummary {
                        .data {
                            .icon {
                                img {
                                    max-width: 200px;
                                }
                            }
                            .wrapperChart {
                                max-width: 155px;
                            }
                            .titleData {
                                font-size: 24px;
                            }
                            p {
                                font-size: 18px;
                                margin-top: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
