/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/


#mainHeader {
}

.mainContent {
    .container-fluid {
        .wrapperCardEdit {
            background: $white-color;
            box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            margin: 3rem 0;
            .headerName {
                background: #DDDDDD;
                padding: 2rem;
                border-radius: 12px 12px 0 0;
                h1 {
                    font-size: 22Px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                }
            }

            form {
                padding: 2rem;
                
                .wrapperFormAction {
                    display: flex;
                    margin-bottom: 1rem;
                    .formAction {
                        width: 100%;
                        padding: 0 1rem;
                        .form {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 1.5rem 0;
                            label {
                                font-weight: $font-weight500;
                                width: 40%;
                                font-size: 18px;
                                font-family: 'Poppins', sans-serif;
                            }
                            input {
                                font-family: 'Poppins', sans-serif;
                                border: 1px solid #222222;
                                border-radius: 6px;
                                padding: .4rem 1rem;
                                width: 60%;
                            }
                        }
                    }
                }

                .actionButton {
                    margin: 0;
                    .btn {
                        padding: .5rem 1rem;
                    }
                }
            }
        }
    }
}
@media screen and (min-width :0px) {
    #mainHeader {
        height: 270px;
    }
}

@media screen and (min-width: 320px) {

    .mainContent {
        .container-fluid {
            .institutPangkat,.institutKorp.Kategori,.kotama.satminkal {
                form {
                    .wrapperFormAction {
                        .formAction {
                        }
                        .right {
                            display: none;
                        }
    
                    }
                }
            }
        }
    }

    .mainContent {
        .container-fluid {
            .wrapperCardEdit {
                .headerName {
                    h1 {
                        font-size: 16px;
                    }
                }
                form {
                    padding: 1.5rem;
                    .wrapperFormAction {
                        flex-direction: column;
                        .formAction {
                            .form {
                                label {
                                    font-size: 14px;
                                }
                                input {
                                    padding: .2rem .5rem;
                                }
                            }
                        }
                    }
    
                    .actionButton {
                        .btn {
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {

    .mainContent {
        .container-fluid {
            .institutPangkat,.institutKorp,.Kategori,.kotama.satminkal {
                form {
                    .wrapperFormAction {
                        .formAction {
                        }
                        .right {
                            display: block;
                        }
    
                    }
                }
            }
        }
    }

    .mainContent {
        .container-fluid {
            .wrapperCardEdit {
                .headerName {
                    h1 {
                        font-size: 22px;
                    }
                }
                form {
                    padding: 2rem;
                    .wrapperFormAction {
                        flex-direction: row;
                        .formAction {
                            .form {
                                label {
                                    font-size: 16px;
                                }
                                input {
                                    padding: .4rem 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}