@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

* {
    margin: 0;
    padding: 0;
}
.loading {
    background: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        max-width: 60px;
        animation: loading 1.3s ease-in-out alternate infinite ;
        -webkit-animation: loading 1.3s ease-in-out alternate infinite;
        -moz-animation: loading 1.3s ease-in-out alternate infinite;
    }
    .nameApps {
        font-family: steelfish;
        color: #3E563E;
        margin-top: .2rem;
        font-weight: 600;
        letter-spacing: .2rem;
        font-size: 38px;
        animation: loading 1.3s ease-in-out alternate infinite ;
        -webkit-animation: loading 1.3s ease-in-out alternate infinite;
        -moz-animation: loading 1.3s ease-in-out alternate infinite;
    }
}


@-webkit-keyframes loading {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes loading {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@keyframes loading {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}