/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
box-shadow: 0px 0px 4px 1px #3E563E;
outline: 0 none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$button-background :#3E563E;
$border : 2px solid #8E8E8E;
$fontsize-card-valueNumber : 28px;

/*------------
Style
------------*/
.authLogin {
    width: 100%;
    .wrapperAuth {
        display: flex;
        .leftBackground {
            background-image: url(../img/authBackground.png),;
            background-repeat: no-repeat;
            background-size: cover;
            .gradient {
                width: 100%;
                height: 100%;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    inset: 0;
                    background: linear-gradient(146.71deg, #3E563E 13.98%, #97BB7D 100.03%);
                    mix-blend-mode: multiply;
                }
    
                .authInformation {
                    height: 100%;
                    display: flex;
                    color: $white-color;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    position: relative;
                    z-index: 2;
    
                    .title {
                        margin-bottom: 2rem;
                        h1 {
                            font-family: steelfish;
                            font-size: 84px;
                            letter-spacing: 10px;
                            margin-bottom: 8px;
                            span {
                            font-family: steelfish;
                            letter-spacing: 5px;
                            }
                        }
                        p {
                            font-weight: $font-weight500;
                            font-family: 'Poppins', sans-serif;
    
                        }
                    }
    
                    .paragrafInfo {
                        display: flex;
                        justify-content: center;
                        p {
                            max-width: 700px;
                            font-family: 'Poppins', sans-serif;
                            font-weight: $font-weight300;
                        }
                    }
                }
            }
        }
        .rightContent {
            display: flex;
            flex-direction: column;
            padding: 64px 84px;
            .headingAuth {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                .textWelcome {
                    color: $button-background;

                    .welcome {
                        font-weight: $font-weight900;
                    }
                    .nameApps {
                        font-family: steelfish;
                        font-weight: $font-weight500;

                        .version {
                            font-family: steelfish;
                            letter-spacing: 1px;
                        }
                    }
                }
                
                .patners {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .tni_ad {
                        width: 50%;
                        img {
                            width: 100%;
                        }
                    }
                    .bank-btn {
                        width: 50%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .mainAuth {
                form {
                    .inputSection {
                        position: relative;
                        margin: 8px 0;
                        font-family: 'Poppins', sans-serif;
                        label {
                            font-family: 'Poppins', sans-serif;
                            color: #8E8E8E;
                            margin-bottom: 8px;
                            font-weight: 500;
                        }
                        .icon-control {
                            position: absolute;
                            transform: translate(0% ,50%);
                            left: 0;
                            padding: 0 .8rem;
                            img {
                                max-width: 20px;
                            }
                        }
                        .form-control {
                            width: 100%;
                            padding: .85rem 1rem .85rem 3rem;
                            border: 2px solid #8E8E8E;
                            border-radius: 8px;
                        }
                    }

                    .confirmation-user {
                        margin: 1.5rem 0;
                        label {
                            font-family: 'Poppins', sans-serif;
                            color: #8E8E8E;
                            font-weight: $font-weight500

                        }
                        .forgetPassowrd {
                            text-decoration: none;
                            color: #FF4F4F;
                            font-weight: $font-weight500;
                            font-family: 'Poppins', sans-serif;

                        }
                    }

                    .login {
                        width: 100%;
                        padding: 18px 18px;
                        background: $button-background;
                        border-radius: 8px;
                        a {
                            text-decoration: none;
                            color: $white-color;
                            font-weight: 500;
                        }
                    }

                    .toRegisterPage {
                        text-align: center;                        
                        font-weight: $font-weight500;
                        color: #8E8E8E;
                        p {
                        font-family: 'Poppins', sans-serif;
                        }
                        a {
                            color: #FF4F4F;
                            text-decoration: none;
                            font-family: 'Poppins', sans-serif;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 0px) and (max-width :375px) {
    .authLogin {
        .wrapperAuth {
            .leftBackground {
                display: none;
            }
            .rightContent {
                width: 100%;
                padding: 1.5rem 2rem;

                .headingAuth {
                    margin-bottom: .8rem;
                    .textWelcome {
                        margin-bottom: 1rem;
                        .welcome {
                            font-size: 16px
                        }
                        .nameApps {
                            font-size: 42px;
                            letter-spacing: 5px;
                        }
                    }
                    .patners {
                        width: 70%;
                        .tni_ad {
                            width: 100%;
                            img {
                                max-width: 50px;
                            }
                        }
                        .bank-btn {
                            width: 100%;
                            img {
                                max-width: 150px;
                            }
                        }
                    }
                }

                .mainAuth {
                    form {
                        .inputSection {
                            label {
                                font-size: 14px;
                            }
                            .icon-control {
                                img {
                                    max-width: 15px;
                                }
                            }
                            .form-control {
                                font-size: 14px;
                            }
                        }

                        .confirmation-user {
                            .form-check {
                                label {
                                    font-size: 14px;
                                }
                            }
                            .forgetPassowrd {
                                font-size: 14px;
                            }
                        }

                        .toRegisterPage {
                            margin-top: 1rem;
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :375px) {
    .authLogin {
        .wrapperAuth {
            .leftBackground {
                display: none;
            }
            .rightContent {
                width: 100%;
                padding: 2rem 2rem;

                .headingAuth {
                    margin-bottom: 1rem;
                    .textWelcome {
                        margin-bottom: 1rem;
                        .welcome {
                            font-size: 18px
                        }
                        .nameApps {
                            font-size: 64px;
                            letter-spacing: 5px;
                        }
                    }
                    .patners {
                        width: 80%;
                        .tni_ad {
                            width: 100%;
                            img {
                                max-width: 70px;
                            }
                        }
                        .bank-btn {
                            width: 100%;
                            img {
                                max-width: 150px;
                            }
                        }
                    }
                }

                .mainAuth {
                    form {
                        .inputSection {
                            label {
                                font-size: 14px;
                            }
                            .icon-control {
                                img {
                                    max-width: 18px;
                                }
                            }
                            .form-control {
                                font-size: 14px;
                            }
                        }

                        .confirmation-user {
                            .form-check {
                                label {
                                    font-size: 14px;
                                }
                            }
                            .forgetPassowrd {
                                font-size: 14px;
                            }
                        }

                        .toRegisterPage {
                            margin-top: 2rem;
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 992px) {
    .authLogin {
        .wrapperAuth {
            height: 100vh;
            align-items: center;
            .leftBackground {
                display: inline-block;
                height: 100%;
                width: 60%;
            }
            .rightContent {
                width: 40%;
                padding: 64px 64px;
            }
        }
    }
}

@media screen and (min-width :1200px ) {
    .authLogin {
        .wrapperAuth {
            .rightContent {
                .headingAuth {
                    .textWelcome {
                        .welcome {
                            font-size: 22px
                        }
                        .nameApps {
                            font-size: 64px;
                            letter-spacing: 10px;
                        }
                    }
                    .patners {
                        width: 70%;
                        .tni_ad {
                            width: 50%;
                            img {
                                max-width: 70px;
                            }
                        }
                        .bank-btn {
                            width: 100%;
                            img {
                                max-width: 181px;
                            }
                        }
                    }
                }

                .mainAuth {
                    form {
                        .inputSection {
                            label {
                                font-size: 16px;
                            }
                            .icon-control {
                                img {
                                    max-width: 20px;
                                }
                            }
                            .form-control {
                                font-size: 16px;
                            }
                        }

                        .confirmation-user {
                            .form-check {
                                label {
                                    font-size: 16px;
                                }
                            }
                            .forgetPassowrd {
                                font-size: 16px;
                            }
                        }
                        .login {
                            a {
                                font-size: 18px;
                            }
                        }

                        .toRegisterPage {
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :1400px ) {
    .authLogin {
        .wrapperAuth {
            .rightContent {
                width: 40%;
                padding: 64px 84px;
            }
        }
    }
}