/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/


#mainHeader {
}

.mainContent {
    .container-fluid {
        .wrapperContent {
            .tab-content {
                .tab-pane {
                    .wrapperMainData {
                        .wrapperData {
                            .tab-content {
                                .tab-pane {
                                    .wrapperTable {
                                        position: relative;
                                        .table {
                                            tbody {
                                                .actionButton {
                                                    margin: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.wrapperTable {
    position: relative;
    .btnModal {
        position: absolute;
        background: #3B533B;
        font-size: 12px;
    }
}
.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                background: #DDDDDD;
                h5 {
                    font-weight: 600;
                }
            }

            .modal-body {
                .mainForm {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .first,.two {
                        width: 100%;
                        padding: 1rem;
                    }
                    .actionForm {
                        display: flex;
                        justify-content: space-between;
                        font-family: 'Poppins', sans-serif;
                        margin: 1rem 0;
                        label {
                            font-family: 'Poppins', sans-serif;
                            font-weight: 600;
                        }
                        input {
                            width: 70%;
                            border: 1px solid #222222;
                            border-radius: 6px;
                            padding: .2rem .8rem;
                        }
                        select {
                            width: 70%;
                            border: 1px solid #222222;
                            border-radius: 6px;
                            padding: .2rem .8rem;
                        }
                    }
                }
                .rowForm {
                    flex-direction: row;
                }
                .columnForm {
                    flex-direction: column;
                }
            }

            .modal-footer {
                justify-content: flex-start;
                button {
                    &:not(:last-child) {
                        margin-right: .8rem;
                    }
                }
                .saveBtn {
                    background: #28A745;
                }
            }
            .actionButton {
                margin: .5rem;
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .columnForm {
                    .actionForm {
                        margin: 0;
                    }
                }
            }
        }
    }
}


.mainContent {
    .container-fluid {
        .wrapperContent {
            .tab-content {
                .tab-pane {
                    .wrapperPotonganBunga {
                        background: $white-color;
                        box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.25);
                        border-radius: 10px;
                        margin-bottom: 2rem;

                        .wrapperAction {
                            display: flex;
                            width: 100%;
                            .formInput {
                                display: flex;
                                flex-direction: column;
                                margin: .8rem;

                                label {
                                    margin-bottom: .5rem;
                                }
                                select,input {
                                    padding: .5rem 1rem;
                                    border: 1px solid #222222;
                                    border-radius: 6px;
                                }
                                button {
                                    width: min-content;
                                    img {
                                        max-width: 25px;
                                        max-height: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.mainContent {
    .container-fluid {
        .wrapperContent {
            .tab-content {
                .tab-pane {
                    .wrapperTable {
                        table {
                            tbody {
                                tr {
                                    .actionButton {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :0px) {
    #mainHeader {
        height: 270px;
    }
}
@media screen and (min-width :320px) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .tab-content {
                    .tab-pane {
                        .wrapperMainData {
                            .wrapperData {
                                .tab-content {
                                    .tab-pane {
                                        .wrapperTable {
                                            padding-top: 4rem;
                                            padding-bottom: 4rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .tab-content {
                    .tab-pane {
                        .wrapperTable {
                            padding-top: 4rem;
                            padding-bottom: 4rem;
                        }
                    }
                }
            }
        }
    }
    .btnModal {
        top: 15px;
        right: 15px;
    }

    .modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .mainForm {
                        .actionForm {
                            label,input,select {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }


    .mainContent {
        .container-fluid {
            .wrapperContent {
                .tab-content {
                    .tab-pane {
                        .wrapperPotonganBunga {
                            padding: 1rem 2rem;
                            .wrapperAction {
                                flex-wrap: wrap;

                                .formInput {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
    
                                    label {
                                        margin-bottom: .5rem;
                                    }
                                    select,input {
                                        width: 100%;
                                        padding: .5rem 1rem;
                                        border: 1px solid #222222;
                                        border-radius: 6px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :576px) {
    .modal-dialog {
        max-width: 900px;
    }
    
}

@media screen and (min-width :768px) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .tab-content {
                    .tab-pane {
                        .wrapperMainData {
                            .wrapperData {
                                .tab-content {
                                    .tab-pane {
                                        .wrapperTable {
                                            padding-top: 2rem;
                                            padding-bottom: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .tab-content {
                    .tab-pane {
                        .wrapperTable {
                            padding-top: 2rem;
                            padding-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
    .btnModal {
        top: 32px;
        right: 300px;
    }

    .modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .mainForm {
                        .actionForm {
                            label,input,select {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .mainContent {
        .container-fluid {
            .wrapperContent {
                .tab-content {
                    .tab-pane {
                        .wrapperPotonganBunga {
                            padding: 1rem 2rem;
                            .wrapperAction {
                                flex-wrap: nowrap;
                                width: 100%;
                                max-width: 1000px;
                                align-items: flex-end;
                                .formInput {
                                    display: flex;
                                    width: 100%;
    
                                    label {
                                        margin-bottom: .5rem;
                                    }
                                    select,input {
                                        width: 100%;
                                        max-width: 200px;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 768px) {
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .rowForm {
                        flex-direction: column;
                    }
                    .columnForm {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
