/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'Poppins', sans-serif;
    font-family: steelfish;
    src: url(../../../dist/assets/font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

.nameContent {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600;
    &::before {
        content: '';
        height: 40px;
        width: 8px;
        background: rgb(61, 86, 61);
        display: block;
        position: relative;
        left: -10px;
    }
}
/* NAVBAR MAIN*/
.onScrolled {
    background: #fff;
    transition: .5s;
}
.navbar.onScrolled {
    .container {
        .navbar-brand {
            .nameBrand {
                h1 {
                    color: $font-color;
                }
                p {
                    color: $font-color;
                }
            }
        }
        .navbar-collapse {
            .navbar-nav {
                .nav-link {
                    color: $font-color;
                }
            }
        }
    }
}

.navbar {
    transition: .5s;
    background: #fff;
    .container {
        .navbar-brand {
            display: flex;
            align-items: center;
            .nameBrand {
                h1 {
                    font-family: steelfish;
                    font-weight: 500;
                    color: $font-color;

                }
                p {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    color: $font-color;

                }
            }
        }
        .navbar-collapse {
            justify-content: flex-end;
            .navbar-nav {
                .nav-link {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    color: $font-color;
                }
            }
            .loginAndRegister {
                button {
                    background: none;
                    border: none;
                    background: #3D563D;
                    padding: .5rem 1rem;
                    border-radius: 4px;
                    &:not(:last-child) {
                        margin-right: .5rem;
                    }
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.slideShow {
    position: relative;
    .wrapperContent {
        position: absolute;
        z-index: 2;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
        align-items: center;

        .container {
            .slidesContent {
                .content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .leftContent {
                        width: 100%;
                        .homeTitle {
                            color: #fff;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 700;
                        }
                    }
                    .rightContent {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        img {
                            width: 100%;
                        }
                    }
                    .rightContent.displayNone {
                        display: none;
                    }
                }
            }
        }
    }
    .slide {
        .item {
            width: 100%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.beritaWrapper {
    .container {
        .beritaContainer {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .berita {
                background: #FFFFFF;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                width: 100%;
                text-decoration: none;
                transition: .5s;

                &:hover {
                    transform: scale(1.1);
                    transition: .5s;
                }
                .newsImages {
                    width: 100%;
                }
                .informationOfNews {
                    .titleNews {
                        font-weight: 600;
                        color: rgba(62, 62, 62, 1);
                    }
                    .timeNewsUpdate {
                        color: #97BB7D;
                        font-weight: 600;
                    }
                }
                
            }
        }
    }
}

.headlineWrapper {
    margin-bottom: 2rem;
    .container {
        .headlineSlide {
            display: flex;
            width: 100%;
            .headline {
                background: #FFFFFF;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                width: 100%;
                text-decoration: none;
                .newsImages {
                    width: 100%;
                }
                .informationOfNews {
                    .titleNews {
                        font-weight: 600;
                        color: rgba(62, 62, 62, 1);
                    }
                    .timeNewsUpdate {
                        color: #97BB7D;
                        font-weight: 600;
                    }
                }
                
            }
        }
    }
}

.sisfobetaFitur {
    margin-bottom: 3rem;
    .container {
        .fiturWrapper {
            display: flex;
            align-items: center;
        }
    }
}

.benefitSisfobeta {
    .container {
        .wrapperBenefit {
            display: flex;
            justify-content: center;
            .benefit {
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 12px;
                background: #fff;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .icon {
                    margin-bottom: 1rem;
                }
                .textBenefit {
                    
                    max-width: 240px;
                }
            }
        }
    }
}

.tentangKamiContainer {
    margin: 5rem 0;
    .container {
        .wrapperTentangKami {
            display: flex;
            align-items: center;
        }
    }
}

.partnersWrapper {
    margin-bottom: 3rem;
    .container {
        text-align: center;
        .titlePartner {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 1rem;
        }
        .wrapperPartner {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

footer {
    background: linear-gradient(281.65deg, #98BC7D -8.58%, #3E573D 94.33%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .menuFooter {
        margin-bottom: 1rem;
        display: flex;
        .footMenu {
            text-decoration: none;
            color: #fff;
            margin: 0 1rem;
        }
    }
    .socialMedia {
        .social {
            margin: 0 .5rem;
            svg {
                max-width: 40px;
            }
        }
    }

}


@media screen and (min-width : 0px) {
    .nameContent {
        font-size: 18px;
        &::before {
            left: -5px;
        }
    }
    /* RESPONSIVE NAVBAR*/
    .navbar {
        padding-bottom: .8rem;
        .container {
            .navbar-brand {
                img {
                    max-width: 60px;
                }
                .nameBrand {
                    h1 {
                        font-size: 30px;
                    }
                    p {
                        display: none;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .slideShow {
        .wrapperContent {
            margin-top: 3rem;
            .container {
                .slidesContent {
                    .content {
                        flex-direction: column;
                        .leftContent {
                            margin-bottom: 3rem;
                            .homeTitle {
                            }
                        }
                        .rightContent {
                            img {
                                max-width: 400px;
                            }
                        }
                    }
                }
            }
        }
        .slide {
            .item {
                height: 100vh;
            }
        }
    }
    .beritaWrapper {
        margin-top: 2rem;
        .container {
            .beritaContainer {
                justify-content: center;
                .berita {
                    border-radius: 12px;
                    margin: .5rem;
                    width: 44.5%;
                    .newsImages {
                        border-radius: 12px 12px 0 0;
                    }
                    .informationOfNews {
                        padding: .8rem;
                        .titleNews {
                            font-size: 12px;
                            margin-bottom: 2rem;
                        }
                        .timeNewsUpdate {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }

    .headlineWrapper {
        .container {
            .headerHeadline {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                .wrapperButtonArrow {
                    display: flex;
                    align-items: center;
                    .arrow {
                        cursor: pointer;
                        border-radius: 4px;
                        span {
                            display: flex;
                            align-items: center;
                        }
                        &:not(:last-child) {
                            margin-right: .7rem;
                        }
                        ion-icon {
                            font-size: 18px;
                        }
                        background: #fff;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
                        color: rgb(3, 74, 3);
                        padding: 1rem;
                    }
                }
            }
            .headlineSlide {
                .headline {
                    margin: 1rem;
                    width: 100%;
                    border-radius: 12px;
                    .newsImages {
                        border-radius: 12px 12px 0 0;
                    }
                    .informationOfNews {
                        padding: .8rem;
                        .titleNews {
                            font-size: 12px;
                            margin-bottom: 2rem;
                        }
                        .timeNewsUpdate {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }

    .sisfobetaFitur {
        .container {
            .fiturWrapper {
                flex-direction: column;
                .mockup {
                    display: none;
                }
                .contentFitur {
                    .fitur {
                        margin: 1rem 0;
                        display: flex;
                        .iconFitur {
                            margin-right: 1rem;
                            svg {
                                max-width: 60px;
                            }
                        }
                        .infoFitur {
                            .nameFitur {
                                font-size: 18px;
                                font-weight: 600;
                                margin-bottom: .5rem;
                            }
                            .textFitur {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .benefitSisfobeta {
        .container {
            .wrapperBenefit {
                flex-direction: column;
                .benefit {
                    margin-bottom: 1.5rem;
                    padding: 1.5rem 1rem;
                    .textBenefit {
                        max-width: 240px;
                    }
                }
            }
        }
    }
    .tentangKamiContainer {
        .container {
            .nameContent {
                margin-bottom: 1rem;
            }
            .wrapperTentangKami {
                flex-direction: column;
                .tentangKami {
                    margin-bottom: 2rem;
                    font-size: 14px;
                }
                .icon {
                    img {
                        max-width: 200px;
                    }
                }
            }
        }
    }
    .partnersWrapper {
        .container {
            .wrapperPartner {
                .ditkuad {
                    margin-right: 1rem;
                    img {
                        max-width: 80px;
                    }
                }
            }
        }
    }
    footer {
        padding: 1rem 1rem;
        .menuFooter {
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            .footMenu {
                margin: 1rem 0;
                font-size: 12px;
                text-align: center;
            }
        }
        .socialMedia {
            .social {
                margin: 0 .5rem;
                svg {
                    max-width: 30px;
                }
            }
        }
    
    }
}

@media screen and (min-width :768px) {
    .navbar {
        .container {
            .navbar-brand {
                .nameBrand {
                    h1 {
                    }
                }
            }
            .navbar-collapse {
            }
        }
    }

    .slideShow {
        .wrapperContent {
            margin-top: 0;
            .container {
                .slidesContent {
                    .content {
                        flex-direction: row;
                        .leftContent {
                            width: 60%;
                            margin-bottom: 0;
                        }
                        .rightContent {
                            width: 40%;
                            img {
                            }
                        }
                    }
                }
            }
        }
        .slide {
            .item {
                height: 80vh;
            }
        }
    }

    .beritaWrapper {
        .container {
            .beritaContainer {
                .berita {
                    .informationOfNews {
                        padding: 1.8rem 1rem;
                        .titleNews {
                            font-size: 14px;
                            margin-bottom: 2rem;
                        }
                        .timeNewsUpdate {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .headlineWrapper {
        .container {
            .headlineSlide {
                .headline {
                    .informationOfNews {
                        padding: 1.8rem 1rem;
                        .titleNews {
                            font-size: 14px;
                            margin-bottom: 2rem;
                        }
                        .timeNewsUpdate {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .benefitSisfobeta {
        .container {
            .wrapperBenefit {
                flex-direction: row;
                .benefit {
                    margin-bottom: 0;
                    &:not(:last-child) {
                        margin-right: 1.5rem;
                    }
                    padding: 1.5rem 1rem;
                    .textBenefit {
                        max-width: 240px;
                    }
                }
            }
        }
    }

    .tentangKamiContainer {
        .container {
            .wrapperTentangKami {
                flex-direction: row;
                .tentangKami {
                    font-size: 16px;
                    padding: 1rem;
                }
                .icon {
                    img {
                        max-width: 250px;
                    }
                }
            }
        }
    }
    

    footer {
        padding: 3rem 1rem;
        .menuFooter {
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: row;
            .footMenu {
                margin: 0rem 1rem;
                font-size: 14px;
                text-align: center;
            }
        }
        .socialMedia {
            .social {
                margin: 0 .5rem;
                svg {
                    max-width: 30px;
                }
            }
        }
    
    }
}

@media screen and (min-width : 992px) {
    .onScrolled {
        padding: 1.5rem 0;
    }
    .navbar {
        .container {
            .navbar-brand {
                img {
                    max-width: 70px;
                }
                .nameBrand {
                    h1 {
                        font-size: 52px;
                        letter-spacing: 5px;
                    }
                    p {
                        display: block;
                        font-size: 10px;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    margin-bottom: 0;
                    .nav-link {
                        font-size: 14px;
                    }
                }
                .loginAndRegister {
                    margin-left: 1.5rem;
                    button {
                        a {
                            text-decoration: none;
                            color: #fff;
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .slideShow {
        .wrapperContent {
            .container {
                .slidesContent {
                    .content {
                        .leftContent {
                            width: 100%;
                            padding: 0 1rem;
                            margin-bottom: 0;
                        }
                        .rightContent {
                            width: 100%;
                            padding: 0 1rem;
                            img {
                                max-width: 400px;
                            }
                        }
                    }
                }
            }
        }
    }

    .beritaWrapper {
        .container {
            .beritaContainer {
                .berita {
                    width: 31.6%;
                    margin: 1rem .5rem;
                    border-radius: 18px;
                    .newsImages {
                        border-radius: 18px 18px 0 0;
                    }
                    .informationOfNews {
                        padding: 1.8rem 1rem;
                        .titleNews {
                            font-size: 16px;
                        }
                        .timeNewsUpdate {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .headlineWrapper {
        .container {
            .headlineSlide {
                .headline {
                    width: 31.6%;
                    margin: 1rem .5rem;
                    border-radius: 18px;
                    .newsImages {
                        border-radius: 18px 18px 0 0;
                    }
                    .informationOfNews {
                        padding: 1.8rem 1rem;
                        .titleNews {
                            font-size: 16px;
                        }
                        .timeNewsUpdate {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .sisfobetaFitur {
        .container {
            .fiturWrapper {
                flex-direction: row;
                .mockup {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 200px;
                    }
                }
                .contentFitur {
                    width: 100%;
                }
            }
        }
    }
}


@media screen and (min-width : 1200px) {
    .nameContent {
        font-size: 26px;
        &::before {
            left: -10px;
        }
    }
    .slideShow {
        .slide {
            .item {
                height: 85vh;
            }
        }
    }

    .beritaWrapper {
        .container {
            .beritaContainer {
                .berita {
                    .newsImages {
                    }
                    .informationOfNews {
                        padding: 1.8rem 1rem;
                        .titleNews {
                            font-size: 18px;
                        }
                        .timeNewsUpdate {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .sisfobetaFitur {
        .container {
            .fiturWrapper {
                flex-direction: row;
                .mockup {
                    img {
                        max-width: 300px;
                    }
                }
                .contentFitur {
                    padding: 0 1rem;
                    .fitur {
                        margin: 0;
                        margin-bottom: 4rem;
                        .iconFitur {
                            margin-right: 1rem;
                            svg {
                                max-width: 70px;
                            }
                        }
                        .infoFitur {
                            .nameFitur {
                                font-size: 20px;
                            }
                            .textFitur {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .tentangKamiContainer {
        .container {
            .wrapperTentangKami {
                .tentangKami {
                    font-size: 18px;
                }
                .icon {
                    img {
                        max-width: 350px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1400px) {
    .navbar {
        .container {
            .navbar-brand {
                .nameBrand {
                    h1 {
                        font-size: 62px;
                        letter-spacing: 5px;
                    }
                    p {
                        display: block;
                        font-size: 12px;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    .nav-link {
                        font-size: 16px;
                    }
                }
                .loginAndRegister {
                    margin-left: 1.5rem;
                    button {
                        a {
                            text-decoration: none;
                            color: #fff;
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .slideShow {
        .wrapperContent {
            .container {
                .slidesContent {
                    .content {
                        .rightContent {
                            width: 100%;
                            padding: 0 1rem;
                            img {
                                max-width: 550px;
                            }
                        }
                    }
                }
            }
        }
    }
    .tentangKamiContainer {
        .container {
            .wrapperTentangKami {
                .tentangKami {
                    font-size: 24px;
                }
                .icon {
                    width: 100%;
                    img {
                        max-width: 400px;
                    }
                }
            }
        }
    }
}
