/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/

.onScrolled {
    position: fixed;
    top: 0;
}
.nameContent {
    margin-bottom: 0;
    font-size: 36px;
}

.mainContent {
    .headHome {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        .search{
            display: flex;
            align-items: center;
            input {
                width: 100%;
                padding: .65rem 1rem;
                border-radius: 10px 0px 0px 10px;
                border: 1px solid #A6A6A6;
                min-width: 400px;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                border-right: none;
                &::placeholder {
                    font-size: 14px;
                }
                &:required {
                    content: 'isi';
                }
            }
            button {
                padding: .5rem;
                border: none;
                background: linear-gradient(127.42deg, #3D553D 2.41%, #8AAC74 100%);
                border-radius: 0px 10px 10px 0px;
                svg {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
    .wrapperPilihRumah{
        .propertiWrapper {
            display: flex;
            margin-bottom: 1rem;
            .properti {
                background: #FFFFFF;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 15px;
                min-height: 400px;
                width: 100%;
                text-decoration: none;
                color: #000;
                .fotoProperti {
                    width: 100%;
                    border-radius: 15px 15px 0 0;
                }
            }
            .kategoriProperti {
                text-align: center;
                background: linear-gradient(142.66deg, #3C543C 2%, #8AAC74 98.99%) !important;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 15px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
            }
        }
        .pilihanBank {
            display: flex;
            justify-content: center;
            .kategoriProperti {
                text-align: center;
                background: linear-gradient(142.66deg, #3C543C 2%, #8AAC74 98.99%) !important;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
            }
            .wrapperPropertiPilihan {
                display: flex;
                .propertiPilihan {
                    width: 100%;
                    position: relative;

                    &:hover {
                        .wrapperInformation {
                            display: block;
                        }
                    }
                    .nameProperti {
                        position: absolute;
                        text-align: center;
                        font-weight: 600;
                        color: #fff;
                        top: 40px;
                        z-index: 2;
                        font-family: 'Poppins', sans-serif;
                    }
                    .imagesProperti {
                        width: 100%;
                        border-radius: 15px;
                    }
                    .wrapperInformation {
                        padding: .7rem;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        z-index: 3;
                        display: none;
                        .propertiInformation {
                            background: #fff;
                            border-radius: 15px;
                            height: 100%;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .nameInformationProperti {
                                font-family: 'Poppins', sans-serif;
                                font-weight: 600;
                            }
                            .textInformation {
                                font-family: 'Poppins', sans-serif;
                                font-weight: 500;
                            }
                            .viewMorePropertiPilihan {
                                text-align: start;
                                font-family: 'Poppins', sans-serif;
                                width: 100%;
                                font-weight: 600;
                                text-decoration: none;
                                color: rgba(65, 89, 63, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}
.slick-list {
    width: 100%;
    .slick-track {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media screen and (min-width :0px){
    #mainHeader {
        .pembungkus {
            .menu {
                .nav-link {
                    min-width: 180px;
                    min-height: 61px;
                }
            }
        }
    }
    .mainContent {
        .wrapperPilihRumah{
            .propertiWrapper {
                display: flex;
                .properti {
                    margin: 1rem .8rem;
                    min-height: 370px;
                    font-family: 'Poppins', sans-serif;
                    .fotoProperti {
                        width: 100%;
                        border-radius: 15px 15px 0 0;
                    }
                    .informationProperti {
                        padding: 1rem;
                        .namePT {
                            font-weight: 600;
                            font-family: 'Poppins', sans-serif;
                            font-size: 12px;
                            margin-bottom: .3rem;
                        }
                        .namePerumahan {
                            font-family: 'Poppins', sans-serif;
                            font-weight: 600;
                            font-size: 18px;
                            text-transform: uppercase;
                        }
                        .detailInformation {
                            margin-top: 2rem;
                            .locationProperti {
                                font-family: 'Poppins', sans-serif;
                                font-weight: 600;
                                font-size: 14px;
                                margin-bottom: .3rem;
                            }
                            .price {
                                color: #28A745;
                                font-weight: 600;
                                font-size: 16px;
                            }
                        }
                    }
                }
                .kategoriProperti {
                    .nameKategori {
                        font-size: 24px;
                        width: 100%;
                        font-weight: 500;
                        max-width: 240px;
                        margin-bottom: 1.5rem;
                        font-family: 'Poppins', sans-serif;
                    }
                    .promotiontext {
                        width: 100%;
                        max-width: 280px;
                        font-size: 16px;
                        font-weight: 500;
                        font-family: 'Poppins', sans-serif;
                        margin-bottom: 3rem;

                    }
                    .morePropertButton {
                        text-decoration: none;
                        padding: .7rem 2rem;
                        background: #FFFFFF;
                        border-radius: 10px;
                        color: #41593F;
                        font-weight: 600;
                        font-family: 'Poppins', sans-serif;
                    }
                }
            }
            .pilihanBank {
                .kategoriProperti {
                    margin: 1rem 0;
                    padding: 1rem 2rem;
                    width: 50%;
                    margin-right: 1rem;
                    .nameKategori {
                        font-size: 24px;
                        margin-bottom: 1rem;
                    }
                    .promotiontext {
                        font-size: 16px;
                        margin-bottom: 1rem;
                    }
                    .icon {
                        svg {
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }
                .wrapperPropertiPilihan {
                    width: 50%;
                    .propertiPilihan {
                        margin: 1rem .5rem;
                        .nameProperti {
                            font-size: 18px;
                            width: 100%;
                        }
                        .wrapperInformation {
                            .propertiInformation {
                                padding: 1rem;
                                .nameInformationProperti {
                                    font-size: 20px;
                                    margin-bottom: 1rem;
                                    color: rgba(65, 89, 63, 1);
                                }
                                .textInformation {
                                    font-size: 12px;
                                    margin-bottom: 2rem;
                                }
                                .viewMorePropertiPilihan {
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :1200px){
    #mainHeader {
        .pembungkus {
            .menu {
                .nav-link {
                    min-width: 210px;
                    min-height: 61px;
                }
            }
        }
    }
    .mainContent {
        .wrapperPilihRumah {
            .propertiWrapper {
                .kategoriProperti {
                    .nameKategori {
                        font-size: 22px;
                    }
                    .promotiontext {
                        font-size: 16px;

                    }
                    .morePropertButton {
                        padding: .7rem 2rem;
                    }
                }
            }
            .pilihanBank {
                .kategoriProperti {
                    width: 30%;
                }
                .wrapperPropertiPilihan {
                    width: 70%;
                    .propertiPilihan {
                        .wrapperInformation {
                            .propertiInformation {
                                padding: 1rem;
                                .nameInformationProperti {
                                    font-size: 22px;
                                }
                                .textInformation {
                                    font-size: 14px;
                                    margin-bottom: 4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 1400px) {
    .mainContent {
        .wrapperPilihRumah {
            .propertiWrapper {
                .properti {
                    .informationProperti {
                        padding: 1.5rem;
                    }
                }
                .kategoriProperti {
                    padding: 5rem 0;
                }
            }

            .pilihanBank {
                .kategoriProperti {
                    width: 25%;
                    .nameKategori {
                        font-size: 22px;
                    }
                    .promotiontext {
                        font-size: 16px;
                    }
                    .icon {
                        svg {
                            max-width: 150px;
                        }
                    }
                }
                .wrapperPropertiPilihan {
                    width: 75%;
                    align-items: center;
                    .propertiPilihan {
                        .wrapperInformation {
                            .propertiInformation {
                                padding: 1rem;
                                .textInformation {
                                    margin-bottom: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1900px) {
    .mainContent {
        .wrapperPilihRumah {
            .propertiWrapper {
                .properti {
                    max-width: 430px;
                }
                .kategoriProperti {
                    padding: 6rem 0;
                    .nameKategori {
                        font-size: 28px;
                        max-width: 280px;
                    }
                    .promotiontext {
                        font-size: 18px;
                        max-width: 300px;
                    }
                    .morePropertButton {
                        padding: .7rem 2rem;
                    }
                }
            }
            .pilihanBank {
                .kategoriProperti {
                    width: 25%;
                    max-width: 430px;
                    .nameKategori {
                        font-size: 28px;
                    }
                    .promotiontext {
                        font-size: 18px;
                    }
                    .icon {
                        svg {
                            max-width: 150px;
                        }
                    }
                }
                .wrapperPropertiPilihan {
                    width: 75%;
                    align-items: center;
                    .propertiPilihan {
                        .wrapperInformation {
                            .propertiInformation {
                                padding: 1rem;
                                .textInformation {
                                    margin-bottom: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

