/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$white-color : #fff;
$dashboard-background : linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
$font-color : #3B4E63;
$dark-color : #3E3C3C;
$font-weight300 : 300;
$font-weight400 : 400;
$font-weight500 : 500;
$font-weight700 : 700;
$font-weight900 : 900;
$fontsize-card-title : 24px;
$fontsize-card-valueNumber : 28px;

/*------------
Styling
------------*/


#mainHeader {
}
.mainContent {
    .container-fluid {
        .wrapperContent {
            .tab-content {
                .tab-pane {
                    .searchAndImportWrapper {
                        .btn {
                            display: flex;
                            align-items: center;
                            background: #D9D9D9;
                            font-weight: $font-weight500;
                            ion-icon {
                                margin-right: .5rem;
                            }
                        }
                    }

                    .wrapperTable {
                        table {
                            tbody {
                                tr {
                                    td {
                                        .accordion {
                                            .accordion-item {
                                                .accordion-button {
                                                    width: min-content;
                                                }
                                                .accordion-button::after {
                                                    display: none;
                                                }
                                                .accordion-button:not(.collapsed) {
                                                    background: #8E8E8E;
                                                }
                                                .accordion-collapse {
                                                    .accordion-body {
                                                        margin-top: 1rem;
                                                        padding: 1rem .5rem;
                                                        border: 1px solid #C4C4C4;
                                                        border-left: 2px solid #A2A846;
                                                        border-radius: 0px 10px 10px 0px;
                                                        .valueNpwpSesudah {
                                                            color: #FEC213;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .actionButton {
                                            margin: 0;
                                            .btn {
                                                font-size: 12px;
                                                img {
                                                    max-width: 18px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width :0px) {
    #mainHeader {
        height: 270px;
    }
}

@media screen and (min-width : 320px) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .tab-content {
                    .tab-pane {
                        .searchAndImportWrapper {
                            width: 100%;
                            flex-direction: column;
                            align-items: flex-start;
                            input {
                                margin-bottom: 1rem;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 576px) {
    .mainContent {
        .container-fluid {
            .wrapperContent {
                .tab-content {
                    .tab-pane {
                        .searchAndImportWrapper {
                            flex-direction: row;
                            align-items: center;
                            input {
                                width: 50%;
                                max-width: 300px;
                                margin-bottom: 0;
                            }
                            .btn {
                            }
                        }
                    }
                }
            }
        }
    }
}