@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');


    .name {
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
 	.wrapperTable {
         width: 80%;
         box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
         padding: 3rem;
         border-radius: 20px;
        .table {
            margin-bottom: 0;
        }
        table {
            font-family: 'Poppins', sans-serif;
             thead {
                 background: #7334FF;
                 color: #fff;
                 tr {
                     th {
                        text-align: center;
                        &:first-child {
                            border-radius: 6px 0 0px 6px;
                        }
                        &:last-child {
                            border-radius: 0px 6px 6px 0px;
                        }
                     }
                 }
             }
             tbody {
                 background: #fff;
                 tr {
                     th {
                         text-align: center;
                     }
                     td {
                        text-align: center;
                     }
                     .pointAction {
                         .dropdown {
                             .buttonMore {
                                 border: none;
                                 background: transparent;
                                 img {
                                     min-height: 18px;
                                 }
                             }
                             .dropdown-menu {
                                li {
                                    .dropdown-item {
                                        font-size: 12px;
                                    }
                                }
                             }
                            
                         }
                     }
                 }
             }
         }
     }

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}