/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: steelfish;
  src: url(../../../dist/assets/font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

/*------------
Variables
------------*/
.mainContent .wrapperMenuMore .moreMenu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.mainContent .wrapperMenuMore .moreMenu a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.mainContent .wrapperMenuMore .moreMenu a .icon {
  margin-right: .5rem;
}

.mainContent .wrapperMenuMore .moreMenu a .nameMenuMore {
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 0px) {
  #mainHeader {
    height: 100px;
  }
  .mainContent {
    padding: 1rem;
  }
  .mainContent .wrapperMenuMore .moreMenu a {
    padding: 1rem 0;
  }
  .mainContent .wrapperMenuMore .moreMenu a .nameMenuMore {
    font-size: 14px;
    color: #000;
  }
}
