/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: steelfish;
  src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

/*------------
Variables
------------*/
/*------------
Styling
------------*/
.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .searchAndImportWrapper .btn {
  display: flex;
  align-items: center;
  background: #D9D9D9;
  font-weight: 500;
}

.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .searchAndImportWrapper .btn ion-icon {
  margin-right: .5rem;
}

.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .wrapperTable table tbody tr td .accordion .accordion-item .accordion-button {
  width: min-content;
}

.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .wrapperTable table tbody tr td .accordion .accordion-item .accordion-button::after {
  display: none;
}

.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .wrapperTable table tbody tr td .accordion .accordion-item .accordion-button:not(.collapsed) {
  background: #8E8E8E;
}

.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .wrapperTable table tbody tr td .accordion .accordion-item .accordion-collapse .accordion-body {
  margin-top: 1rem;
  padding: 1rem .5rem;
  border: 1px solid #C4C4C4;
  border-left: 2px solid #A2A846;
  border-radius: 0px 10px 10px 0px;
}

.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .wrapperTable table tbody tr td .accordion .accordion-item .accordion-collapse .accordion-body .valueNpwpSesudah {
  color: #FEC213;
}

.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .wrapperTable table tbody tr td .actionButton {
  margin: 0;
}

.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .wrapperTable table tbody tr td .actionButton .btn {
  font-size: 12px;
}

.mainContent .container-fluid .wrapperContent .tab-content .tab-pane .wrapperTable table tbody tr td .actionButton .btn img {
  max-width: 18px;
}

@media screen and (min-width: 0px) {
  #mainHeader {
    height: 270px;
  }
}

@media screen and (min-width: 320px) {
  .mainContent .container-fluid .wrapperContent .tab-content .tab-pane .searchAndImportWrapper {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .mainContent .container-fluid .wrapperContent .tab-content .tab-pane .searchAndImportWrapper input {
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .mainContent .container-fluid .wrapperContent .tab-content .tab-pane .searchAndImportWrapper {
    flex-direction: row;
    align-items: center;
  }
  .mainContent .container-fluid .wrapperContent .tab-content .tab-pane .searchAndImportWrapper input {
    width: 50%;
    max-width: 300px;
    margin-bottom: 0;
  }
}
